.durotan-slider-item {
    height: auto;
}

// Background
.durotan-sliders__bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    transition-property: transform;
    height: 925px;
}

.durotan-sliders__bg--item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: .5s;

    &.active {
        opacity: 1;
    }
}

.durotan-sliders-bg-wrapper {
    position: relative;
}

.durotan-sliders__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    margin-top: 120px;
}

.durotan-slide__content {
    max-width: 575px;
    margin-right: 245px;
}

.durotan-slide__heading {
    font-family: var( --durotan-heading-font );
    font-size: 90px;
    line-height: 100px;
    color: var( --durotan-color-darker );
    margin-bottom: 47px;
}

.durotan-slide__before-heading {
    text-transform: uppercase;
    color: var( --durotan-color-primary );
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
}

.durotan-slide__after-heading {
    text-transform: uppercase;
    color: var( --durotan-color-primary );
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 54px;
}

.durotan-slide__tag {
    position: absolute;
    left: 0;
    transform: rotate(-90deg);
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 37px;
}

.durotan-slide__description {
    font-size: 24px;
    line-height: 36px;
    margin-top: 10px;
}

// Button
.durotan-slide-button {
    display: inline-block;
    background-color: var( --durotan-background-color-primary );
    color: var( --durotan-color-light );
    border: 1px solid transparent;
    line-height: 58px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    padding: 0 39px;
    margin: 120px 28px 0 0;
    transition: .5s;

    &:hover {
        background-color: transparent;
        color: var( --durotan-color-primary );
        border-color: var( --durotan-color-primary );
    }
}

.durotan-slide-button--light {
    background-color: transparent;
    color: var( --durotan-color-primary );
    border: 1px solid var( --durotan-border-color-primary );
    margin-top: 90px;

    &:hover {
        background-color: var( --durotan-background-color-primary );
        color: var( --durotan-color-light );
        border-color: transparent;
    }
}

.durotan-slide-button--line {
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    background-color: transparent;
    padding: 0;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid var( --durotan-border-input-color );

    &:hover {
        color: var( --durotan-color-light );
        border-color: var( --durotan-color-light );
    }
}

// Video
.durotan-slide__play-video {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    color: var( --durotan-color-darker );
}

.durotan-slide__play-video-button {
    display: flex;
    align-items: center;
}

.durotan-slide__play-video-button-icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 1px solid var( --durotan-color-darker );
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    margin-right: 15px;

    svg {
        margin-left: 5px;
    }
}

// Price
.durotan-slide-price-wrapper {
    display: flex;
    align-items: center;
}

.durotan-slide__price {
    text-transform: uppercase;
    font-size: 16px;
    color: var( --durotan-color-darker );
    letter-spacing: 0.5px;
    margin-top: 60px;
}

.durotan-slide__price-number {
    display: block;
    font-size: 48px;
    letter-spacing: 0;
}

// Image Swatches
.durotan-slide__image-swatches-link {
    display: inline-block;
    margin-right: 10px;
    line-height: 1;

    &:hover ,
    &.active {
        .durotan-slide__image-swatches-image {
            border-color: #fff;
        }
    }
}

.durotan-slide__image-swatches-image {
    border: 1px solid transparent;
    transition: .5s;
}

.durotan-slide__image-swatches-text {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: 22px;
}

// Pagination Arrow
.durotan-slide__arrow {
    position: absolute;
    bottom: 82px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
}

.durotan-slide__arrow-button {
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    color: var( --durotan-color-lighter );
    transition: .5s;

    &:hover {
        color: var( --durotan-color-darker );
    }
}

.durotan-slide__arrow-button--prev {
    position: relative;
    padding-right: 20px;
    margin-right: 15px;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 15px;
        background-color: var( --durotan-background-color-lighter );
    }
}

.durotan-slide__arrow--layout-2 {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);

    .durotan-slide__arrow-button {
        font-size: 36px;
        color: rgba(227, 223, 219, 0.35);
        position: absolute;
    }

    .durotan-slide__arrow-button:hover {
        color: rgba(227, 223, 219, 1);
    }

    .durotan-slide__arrow-button--prev:before {
        display: none;
    }

    .durotan-slide__arrow-button--next {
        right: 0;
    }
}

// Pagination Fraction
.durotan-slide__fraction {
    position: absolute;
    top: 115px;
    left: 15px;
    right: 0;
    margin: 0 auto;
    z-index: 9;
    display: flex;
    flex-direction: column;
}

.durotan-slide__fraction-line {
    width: 25px;
    height: 1px;
    background-color: #acaa9f;
    margin: 20px -8px;
}

.durotan-slide__fraction-total {
    color: var( --durotan-color-primary );
}

.durotan-slide__fraction--layout-2 {
    top: auto;
    bottom: 95px;
    font-size: 36px;
    font-weight: 300;
    color: #fff;

    .durotan-slide__fraction-line {
        width: 50px;
        transform: rotate(-45deg);
        margin: 15px -12px;
        background-color: #907a6b;
    }

    .durotan-slide__fraction-total {
        color: #a4846e;
    }
}

// Pagination Dots
.durotan-slide__pagination {
    position: absolute;
    bottom: 125px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}

.durotan-slide__pagination-bullet {
    width: 22px;
    height: 22px;
    border-width: 1px;
    margin-right: 12px;
    position: relative;
    outline: none;

    &:before {
        content: '';
        width: 5px;
        height: 5px;
        background-color: var( --durotan-background-color-light );
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &.swiper-pagination-bullet-active {
        border-color: var( --durotan-border-color-light );
    }
}

// Icon Box
.durotan-slider-icon-box {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 9;
}

.durotan-slider-icon-box__item {
    display: flex;
    align-items: center;
    color: #eaddc7;
    text-transform: uppercase;
}

.durotan-slider-icon-box__icon {
    font-size: 48px;
    margin-right: 23px;
}

.durotan-slider-icon-box__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
}