body {
	color: var(--durotan-text-main-color);
	font-family: $font__main;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.67;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
}

@import "links";

@import "headings";

@import "copy";
