.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 25px;
	margin-bottom: 20px;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 25px;
	margin-bottom: 20px;
}

.aligncenter {
	clear: both;
	text-align: center;
	@include center-block;
}

.no-sidebar .alignwide {
	max-width: 1170px;
	width: 1170px;
	margin-left: calc( -1170px/2 + 100%/2 );
	margin-right: calc( -1170px/2 + 100%/2 );
}

.no-sidebar.page .alignwide {
	max-width: 1400px;
	width: 1400px;
	margin-left: calc( -1400px/2 + 100%/2 );
	margin-right: calc( -1400px/2 + 100%/2 );
}

.no-sidebar .alignfull {
	max-width: 100vw;
	width: 100vw;
	margin-left: calc( -100vw/2 + 100%/2 );
	margin-right: calc( -100vw/2 + 100%/2 );
}