html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	overflow-x: hidden;
	background: var(--durotan-background-color-light); /* Fallback for when there is no custom background color defined. */
	margin: 0;
}

hr {
	background-color: #dedede;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

ins {
	background: 0 0;
	text-decoration: none;
}

.durotan-primary-color{
	color:var(--durotan-color-primary);
}

@import "elements/alignment";
@import "elements/lists";