// Width
.w-680 {
	width: 680px;
}

.w-1000 {
	width: 1000px;
}

.w-1100 {
	width: 1100px;
}

.mw-900 {
	max-width: 900px !important;
}

// Height
.h-60 {
	height: 60px !important;
}

.h-70 {
	height: 70px !important;
}

.h-80 {
	height: 80px !important;
}

.h-101 {
	height: 100px !important;
}

.h-112 {
	height: 112px !important;
}

.h-141 {
	height: 141px !important;
}

.h-150 {
	height: 150px !important;
}

.h-170 {
	height: 170px;
}

// Position
.l-min-100 {
	left: -100px !important;
}

// Padding
.pt-0 {
	padding-top: 0 !important;
}

.pt-70 {
	padding-top: 70px !important;
}

.pt-105 {
	padding-top: 105px !important;
}

.pt-135 {
	padding-top: 135px !important;
}

.pl-0 {
	padding-left: 0 !important;
}

.pl-67 {
	padding-left: 67px !important;
}

.pr-0 {
	padding-right: 0 !important;
}

// Margin
.mt-0 {
	margin-top: 0 !important;
}

.mt-20 {
	margin-top: 20px !important;
}

.mr-27 {
	margin-right: 27px !important;
}

.mr-30 {
	margin-right: 30px !important;
}

.mr-95 {
	margin-right: 95px !important;
}

.mr-105 {
	margin-right: 105px !important;
}

.mb-6 {
	margin-bottom: 6px !important;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.mb-37 {
	margin-bottom: 37px !important;
}

.mb-45 {
	margin-bottom: 45px !important;
}

.mb-49 {
	margin-bottom: 49px !important;
}

.mb-55 {
	margin-bottom: 55px !important;
}

.mb-60 {
	margin-bottom: 60px !important;
}

.mb-85 {
	margin-bottom: 85px !important;
}

.ml-153 {
	margin-left: 153px !important;
}

.ml-min-15 {
	margin-left: -15px !important;
}

// Others
.fs-16 {
	font-size: 16px;
}

.fs-24 {
	font-size: 24px;
}

.lh-36 {
	&.fs-24{
		line-height: (36/24);
	}
}

.lh-1 {
	line-height: 1 !important;
}

.lh-1-2 {
	line-height: 1.2 !important;
}

.fw-600 {
	font-weight: 600;
}

.fw-300 {
	font-weight: 300;
}

@media ( max-width: 1199px ) {
	.ml-md-0 {
		margin-left: 0 !important;
	}
}

@media ( max-width: 991px ) {
	.pt-sm-0 {
		padding-top: 0 !important;
	}

	.pt-sm-60 {
		padding-top: 60px !important;
	}
}

@media ( max-width: 767px ) {
	.fs-xs-13 {
		font-size: 13px;
	}
}