.wp-block-gallery {
	margin-bottom: 0;
	display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

	.blocks-gallery-image,
	.blocks-gallery-item {
		width: calc( (100% - 30px) / 2 );
		margin-right: 20px;
		margin-bottom: 20px;
	}

	figure {
		margin: 0;
	}

	cite {
		display: block;
    	font-size: 14px;
		margin-top: 10px;

		a {
			display: inline-block;
    		line-height: 1.3;
		}
	}
}

.wp-block-image {
	margin-top: 30px;
	margin-bottom: 30px;

	img {
		display: block;
	}
}

.wp-block-gallery + .wp-block-image {
	margin-top: 0;
}

.wp-block-image + .wp-block-image {
	margin-top: 30px;
}

@media (min-width: 600px) {
	.wp-block-gallery {
		.blocks-gallery-image,
		.blocks-gallery-item {
			width: calc( (100% - 30px) / 2 );
			margin-right: 30px;
			margin-bottom: 30px;
		}
	}

	@for $i from 2 through 8 {
		$space: ($i - 1);
		$const: 2;

		.wp-block-gallery.columns-#{$i} {
			.blocks-gallery-image,
			.blocks-gallery-item {
				width: calc( (100% - 30px * #{$space}) / #{$i} );
			}

			.blocks-gallery-item:nth-of-type( #{$i}n ) {
				margin-right: 0;
			}
		}
	}

	.wp-block-image {
		margin-top: 34px;
		margin-bottom: 34px;
	}
}