.svg-icon {
	font-size: 24px;
	line-height: 1;
	display: inline-block;

	svg {
		vertical-align: -0.125em;
		width: 1em;
		height: 1em;
		fill: currentColor;
		display: inline-block;
	}
}

.underline {
	line-height: 1;
	position: relative;
	display: inline-block;

	&:after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		border-bottom: 1px solid;
	}
}

.underline-hover {
	line-height: 1;
	position: relative;
	display: inline-block;

	&:after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		width: 0;
		border-bottom: 1px solid;
		transition: width 0.4s;
	}

	&.active,
	&:hover {
		text-decoration: none;

		&:after {
			width: 100%;
			left: 0;
		}
	}
}

.text-dark {
	&,
	a {
		color: var( --durotan-color-dark );
	}
}

.text-light {
	&,
	a {
		color: var( --durotan-color-light );
	}
}

hr.divider {
	margin-top: 0;
	margin-bottom: 0;
}

// Language & Currency
.durotan-language,
.durotan-currency {
	text-align: left;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
}

.durotan-language--horizontal,
.durotan-currency--horizontal {
	ul {
		display: flex;
		align-items: center;

		li {
			padding: 0 14px;

			a {
				color: var( --durotan-color-lighter );

				&:hover,
				&.active {
					color: var( --durotan-color-darker );
				}
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
}

.durotan-language--list-dropdown,
.durotan-currency--list-dropdown {
	color: var( --durotan-color-darker );
	font-size: 16px;
	text-transform: uppercase;
	position: relative;

	.current {
		display: flex;
		align-items: center;
		cursor: pointer;

		.svg-icon {
			font-size: 12px;
			margin-left: 10px;
		}
	}

	ul {
		white-space: nowrap;
		position: absolute;
		left: -15px;
		top: calc( 100% + 1px );
		opacity: 0;
		background: #fff;
		transform: translate(0, 20px);
		transition: transform 0.3s, opacity 0.3s;
		z-index: 1000;
		pointer-events: none;
		box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
		min-width: 100px;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			left: 0;
			top: -1px;
			background-color: transparent;
			z-index: -1;
		}

		li {
			a {
				padding: 10px 15px;
				display: block;
				color: var( --durotan-color-darker );
			}
		}
	}

	&:hover {
		ul {
			opacity: 1;
			transform: translate(0, 0);
			pointer-events: initial;
		}
	}
}

// Socials
.durotan-social-links__link {
	color: #666666;
    margin-right: 20px;

	&:last-child {
		margin-right: 0;
	}
}

.durotan-social-links__icon {
	font-size: 20px;
}

.durotan-social-links--fill {
	.durotan-social-links__link {
		color: #fff;
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 28px;
		border-radius: 50%;
		margin: 0 5px 5px 0;
		text-align: center;

		&:last-child {
			margin-right: 0;
		}
	}

	.durotan-social-links__icon {
		font-size: 14px;
	}
}