.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 1100;

	&.open {
		visibility: visible;
		z-index: 2000;
	}
}

.modal__header {
	padding: 60px 0;

	.durotan-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.modal__label {
	font-size: 30px;
	color: var( --durotan-color-darker );
	font-family: var( --durotan-heading-font );
}

.modal__button-close {
	color: var( --durotan-color-darker );
	cursor: pointer;

	.svg-icon {
		font-size: 20px;
	}
}

.search-modal {
	background: #fff;

	.modal__header,
	.modal__content {
		position: absolute;
		left: 0;
		width: 100%;
	}

	.modal__header {
		top: 0;
	}

	.modal__content {
		max-height: 100%;
		top: 35%;
		transition: top .8s;

		.durotan-container {
			height: 100%;
		}
	}

	.product-cats {
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;
			margin: 0 0 60px;
			padding: 0;

			li {
				cursor: pointer;
				font-size: 16px;
				color: var( --durotan-color-darker );
				margin-right: 45px;
				transition: .4s;
				text-transform: uppercase;
				line-height: 1;

				&:last-child {
					margin-right: 0;
				}

				&:hover,
				&.active {
					color: var( --durotan-color-primary );
				}
			}
		}
	}

	.search-field {
		width: 100%;
		font-size: 36px;
		color: var( --durotan-color-darker );

		&:focus {
			border-bottom-color: var( --durotan-color-darker );
		}
	}

	.search-result {
		padding-top: 40px;
		position: relative;
		overflow: hidden;

		.ps__rail-x,
		.ps__rail-y {
			display: none;
		}
	}

	.search-result__label {
		color: var( --durotan-text-input-color );
		font-size: 14px;
		text-transform: uppercase;
		margin: 0 0 33px;
	}

	.search-result__items {
		height: calc(100% - 56px); // 56px is the height of label "Search Result".
		position: relative;
		overflow: hidden;
	}

	.search-result__view-more {
		text-align: center;
		margin-bottom: 90px;

		a {
			font-size: 16px;
			border: 1px solid #999;
			display: inline-block;
			line-height: 52px;
			padding: 0 51px;
		}
	}

	&.searched {
		.modal__content {
			bottom: 0;
		}

		.search-result {
			height: calc(100% - 155px);  // 155px is the height of the search form.
		}
	}
}