.offscreen-panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1600;
	display: none;
}

.offscreen-panel__backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: rgba(0,0,0,.4);
}

.offscreen-panel__button-close {
	cursor: pointer;
	position: absolute;
	right: 80px;
	top: 45px;
	color: var( --durotan-color-darker );

	.svg-icon {
		font-size: 20px;
	}
}

.offscreen-panel__wrapper {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 645px;
	max-width: 100%;
	margin: 0;
	background: #fff;
	transition: transform .5s;
    display: flex;
    flex-direction: column;
	transform: translateX(100%);

	.offscreen-panel.open & {
		transform: none;
	}
}

.offscreen-panel__header {
	padding: 40px 80px;

	label {
		font-size: 24px;
		color: var( --durotan-color-darker );
		display: block;
	}
}

.offscreen-panel__content {
	padding: 70px 80px 0;
    flex: 1;
    overflow-y: auto;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

// Cart
.cart-panel {
	.offscreen-panel__header {
		padding-top: 0;
		padding-bottom: 0;

		label {
			padding-top: 40px;
			padding-bottom: 40px;
			border-bottom: 1px solid #dedede;
		}
	}

	.widget_shopping_cart_content {
		display: flex;
		flex-direction: column;
		height: 100%;

		.total,
		.buttons {
			width: 100%;
			margin: 0;
			padding-top: 20px;
		}

		.total {
			font-size: 20px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			strong {
				font-weight: 400;
			}

			.amount {
				color: var( --durotan-color-darker );
				font-size: 24px;
			}
		}

		.buttons {
			text-align: center;
			margin-bottom: 75px;

			a {
				display: block;
				font-size: 16px;
				text-transform: uppercase;
				color: var( --durotan-color-darker );
				line-height: 60px;
				border: 1px solid #999;
				margin-top: 15px;
				transition: 0.4s;

				&:hover,
				&.checkout {
					color: #fff;
					background-color: var( --durotan-background-color-primary );
					border-color: var( --durotan-color-primary );
				}
			}
		}
	}

	ul.cart_list {
		margin: 0;
		padding: 0;
		list-style: none;
		flex: 1;

		li {
			display: flex;
			margin-bottom: 27px;
		}

		img {
			float: left;
			margin-right: 20px;
		}
	}

	.woocommerce-mini-cart-item__summary {
		flex-grow: 1;

		.variation {
			font-size: 14px;
			color: var( --durotan-text-main-color );
			margin-bottom: 5px;
		}

		.amount {
			font-size: 16px;
		}
	}

	.woocommerce-mini-cart-item__data {
		margin-left: 80px;
		display: flex;
		flex-direction: column;
	}

	.woocommerce-mini-cart-item__name {
		font-size: 16px;
	}

	.woocommerce-mini-cart-item__qty {
		padding: 0 30px;
		flex: 0 0 140px;
		max-width: 140px;
		text-align: center;

		.quantity {
			border: 1px solid #d0d0d0;
			display: flex;
			justify-content: space-between;
			transition: .4s;

			.qty {
				width: 20px;
			}

			&:hover,
			&:focus {
				border-color: var( --durotan-color-darker );
			}
		}

		.qty-button {
			font-size: 10px;
			user-select: none;
			cursor: pointer;
			transition: .4s;
			line-height: 35px;
			padding: 0px 9px;

			&:hover {
				color: var( --durotan-color-darker );
			}
		}
	}

	.woocommerce-mini-cart-item__remove-button {
		flex: 0 0 50px;
		max-width: 50px;
		text-align: right;

		a {
			display: block;
			line-height: 1;
		}

		.svg-icon {
			font-size: 12px;
		}
	}
}

// Menu Panel
.menu-panel {
	.offscreen-panel__button-close {
		font-size: 16px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		top: 58px;
		left: 80px;
		right: auto;

		.svg-icon {
			font-size: 30px;
		}

		.menu-text {
			padding-left: 25px;
		}
	}

	.offscreen-panel__wrapper {
		width: 445px;
		right: auto;
		left: 0;
		transform: translateX(-100%);
		padding-top: 150px;
	}

	.offscreen-panel__content {
		padding: 0 80px;
		display: flex;
		flex-direction: column;

		.language-currency-switcher {
			display: flex;
			border-bottom: 1px solid #dbdbdb;
			margin-bottom: 80px;

			div[class*="list-dropdown"] {
				padding-right: 28px;
				margin-right: 28px;
				border-right: 1px solid #dbdbdb;
				margin-bottom: 18px;

				&:last-child {
					padding-right: 0;
					margin-left: 0;
					border-right: 0;
				}
			}
		}

		.text-box {
			color: #000;
			font-size: 16px;
			margin-bottom: 45px;

			h4 {
				font-family: $font__main;
				font-size: 14px;
				color: #999999;
				margin: 0 0 15px;
				text-transform: uppercase;
			}
		}

		.socials {
			display: flex;
			align-items: center;
			margin-bottom: 70px;

			a {
				color: #666666;
				margin-right: 22px;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border-radius: 50%;
				border: 1px solid #4d524b;
				text-align: center;

				.svg-icon {
					font-size: 18px;
				}

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					color: #fff;
					background-color: var( --durotan-background-color-primary );
					border-color: var( --durotan-color-primary );
				}
			}
		}

		.main-navigation {
			height: auto;
			flex: 1;
			margin-bottom: 70px;
			position: static;

			ul {
				ul {
					top: 0;
					left: 100%;
					box-shadow: none;
					transform: translate(-20px, 0);
					height: 100%;
					padding: 150px 0 100px;

					&:before {
						content: '';
						width: 80px;
						height: 100%;
						top: 0;
						left: -80px;
						position: absolute;
					}

					ul {
						margin: 0;

						&:before {
							display: none;
						}
					}
				}
			}

			li {
				position: static;

				&:hover {
					> ul {
						opacity: 1;
						transform: translate(0, 0);
						pointer-events: initial;
					}
				}
			}

			ul.menu {
				display: block;
				height: auto;

				> li {
					padding: 5px 0;

					> a {
						font-size: 30px;
						text-transform: capitalize;
					}
				}
			}

			// Mega Menu
			.mega-menu {
				padding: 100px 30px;
				display: flex;
				align-items: center;

				&:after {
					content: '';
					width: 80px;
					height: 100%;
					top: 0;
					left: -80px;
					position: absolute;
				}

				ul {
					padding: 0;
					transform: translate(0,0);
				}

				.menu-item-as-label {
					a {
						color: var(--durotan-color-lighter);
						font-size: 14px;
						text-transform: uppercase;
						margin-top: 72px;
						margin-bottom: 18px;
						display: block;
					}
				}
			}

			.mega-sub-menu {
				padding: 0 70px;
			}
		}
	}
}