:root {
	--durotan-color-darker: #000000;
	--durotan-color-dark: #222222;
	--durotan-color-light: #ffffff;
	--durotan-color-lighter: #999999;
	--durotan-color-primary: #928656;

	--durotan-background-color-gray: #666666;
	--durotan-background-color-darker: #000000;
	--durotan-background-color-light: #ffffff;
	--durotan-background-color-lighter: #999999;
	--durotan-background-color-primary: #928656;

	--durotan-text-input-color: #999999;
	--durotan-text-main-color: #666666;
	--durotan-text-input-focus-color: #010101;

	--durotan-link-color: #000000;

	--durotan-border-color-primary: #928656;
	--durotan-border-color-light: #ffffff;

	--durotan-border-input-color: #d8d8d8;
	--durotan-border-input-focus-color: #000000;
}

$colors: (
	'00ccff' : #00ccff,
	'669900' : #669900,
	'ff3333' : #ff3333,
	'6600ff' : #6600ff,
	'999999' : #999999,
	'e2442b' : #e2442b,
	'f24d1d' : #f24d1d,
);

@each $color, $colorCode in $colors {
	.color__#{$color} {
		color: $colorCode !important;
	}
}

$bgColors: (
	'3b5999' : #3b5999,
	'55acee' : #55acee,
	'ea1081' : #ea1081,
	'171717' : #171717,
	'e01212' : #e01212,
	'232324' : #232324,
	'f2f5fa' : #f2f5fa,
	'f5f4f2' : #f5f4f2,
	'f3f3f6' : #f3f3f6,
	'f3f6f8' : #f3f6f8,
);

@each $bgcolor, $bgColorCode in $bgColors {
	.bg-color__#{$bgcolor} {
		background-color: $bgColorCode !important;
	}
}
