$font__main: "Jost", sans-serif;
$font__secondary: "Work Sans", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: Menlo, Consolas, monaco, monospace;
$font__line-height-body: 30/18;

:root {
    --durotan-heading-font: "Marcellus", sans-serif;
}