.site-footer {
	&.light {
		border-top: 1px solid #dedede;
		background-color: #fff;

		> .footer-main:first-child > .footer__container:first-child .divider {
			display: none;
		}
	}

	.footer-newsletter + .footer-main > .footer__container:first-child .divider,
	.footer-boxes + .footer-main > .footer__container:first-child .divider {
		display: none;
	}
}

// Boxes
.footer-boxes {
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
	}
}

.footer-boxes__box {
	border-right: 1px solid #dedede;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 80px;

	&:last-child {
		border-right: 0;
	}

	h4 {
		font-size: 18px;
		margin: 0 0 20px;
		text-transform: uppercase;
	}
}

.footer-boxes__box--intro {
	color: #999;
	font-size: 16px;
}

.footer-boxes__box--socials {
	.durotan-social-links {
		padding-top: 8px;
	}

	.durotan-social-links__link {
		color: #999;

	}

	.durotan-social-links__icon {
		font-size: 24px;
	}
}

.footer-boxes__box--newsletter {
	.mc4wp-form {
		position: relative;
		max-width: 350px;
		margin: auto;

		input[type="text"],
		input[type="email"],
		select,
		textarea {
			font-size: 16px;
		}

		input[type="text"],
		input[type="email"],
		select {
			height: 50px;
		}

		input[type="text"],
		input[type="email"] {
			padding: 0 105px 0 20px;
		}

		input[type="submit"],
		button {
			line-height: 50px;
			margin-bottom: 0;
			position: absolute;
			top: 0;
			right: 0;
			color: #000;
			font-size: 14px;
			font-weight: 600;
			background-color: transparent;
			padding: 0 20px;
		}
	}
}

// Newsletter
.footer-newsletter {
	.mc4wp-form {
		flex-grow: 1;

		.mc4wp-form-fields {
			position: relative;
			max-width: 770px;
			margin-left: auto;
		}

		input[type="text"],
		input[type="email"],
		select,
		textarea {
			font-size: 16px;
			border-width: 0 0 1px 0;
			margin: 0;
			background-color: transparent;

			&:focus {
				border-color: #000;
			}
		}

		input[type="text"],
		input[type="email"],
		select {
			height: 50px;
		}

		input[type="text"],
		input[type="email"] {
			padding: 0 95px 0 45px;
		}

		input[type="submit"],
		button {
			position: absolute;
			right: 0;
			height: 50px;
			color: #000;
			padding: 0;
			background-color: transparent;
		}

		.svg-icon {
			position: absolute;
			left: 0;
			top: 12px;
			color: #000;
		}
	}
}

.footer-newsletter__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 75px 135px;
	border-bottom: 1px solid #dedede;
}

.footer-newsletter__title {
	font-family: $font__main;
	margin: 20px 50px 20px 0;
}

// Widget
.footer-widgets {
	padding-top: 150px;
	padding-bottom: 90px;

	.widget {
		margin-bottom: 52px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.widget-title {
		font-size: 24px;
		font-family: $font__main;
		margin-bottom: 45px;
		letter-spacing: 2;
	}

	ul.menu {
		li {
			margin-bottom: 18px;

			a {
				color: #666666;
				line-height: 1.2;

				&:hover {
					color: #000;

					&:after {
						border-color: #000;
					}
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.social-links-widget {
		.social {
			color: #666666;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}
		}

		.svg-icon {
			font-size: 20px;
		}
	}
}

// Main
.footer-main {
	padding: 50px 0;

	.footer__items {
		display: flex;
		align-items: center;
		flex: auto;
	}

	.footer__items--center {
		text-align: center;

		.footer-menu ul.menu {
			justify-content: center;
		}
	}

	.footer__items--left {
		> * {
			margin-right: 60px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.footer__items--right {
		justify-content: flex-end;

		> * {
			margin-left: 60px;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.footer__wrapper {
		display: flex;
	}

	.footer__menu {
		ul.menu {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;

			li {
				padding: 0 29px;
				font-size: 16px;
				text-transform: uppercase;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}

	.footer__social-links,
	.footer__currency,
	.footer__language {
		h4 {
			font-family: $font__main;
			font-size: 14px;
			text-transform: uppercase;
			margin: 0 0 28px;
		}
	}

	.durotan-language,
	.durotan-currency {
		font-size: 14px;
	}

	.footer__copyright {
		font-size: 16px;

		strong {
			color: #000;
			font-weight: 400;
		}
	}

	.footer__copyright--text-uppercase {
		font-size: 14px;
		text-transform: uppercase;
	}

	.divider {
		flex: 1;
		margin-top: -50px;
	}
}

.footer-main--has-center {
	.footer__items--items {
		flex: 1;
	}

	.footer__items--center {
		flex: none;
	}
}

.footer-main--menu-center {
	.footer__items--center {
		flex: 5;
	}
}

.footer-main--items-vertical {
	padding: 75px 0;

	.divider {
		margin-top: -75px;
	}

	.footer__items {
		flex-direction: column;
		justify-content: flex-start;

		> * {
			margin-bottom: 60px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.footer__items--left {
		align-items: flex-start;
	}

	.footer__items--right {
		align-items: flex-end;
	}

	.durotan-language,
	.durotan-currency {
		font-size: 16px;
	}
}