.durotan-background{
	background-color: #ececec;
}
.durotan-logobrand-slider {
	margin: 0 0 0 170px;
	padding: 40px 376px 0 195px;
	background-color: var(--durotan-background-color-light);
	&:after{
		content: "";
		display: inline-block;
		width: 100%;
		height: 1px;
		background-color: #e6e6e6;
		margin: 20px 0 0 0;
	}
}
.durotan-about{
	margin: 0 0 0 170px;
	background-color: var(--durotan-background-color-light);
	display: inline-block;
	h2{
		font-family: var(--durotan-heading-font);
		margin: 80px 0 14px 195px;
	}
	.durotan-about__description{
		margin: 0 376px 0 195px;
	}
}
.durotan-about__list{
	margin: 100px 0 0 180px;
	h3{
		text-transform: uppercase;
		margin: 0 0 37px 0;
		font-size: 24px;
		line-height: 24px;
	}
	svg{
		margin: 0;
	}
	.durotan-about__list__item__content{
		margin: 0 0 93px 0;
	}
}
.durotan-about__list__image{
	text-align: center;
	padding-right: 0;
}
.durotan-featuredcollection{
	padding: 0 0 123px 0;
	h2{
		margin: 60px 0 20px 197px;
	}
	.durotan-featuredcollection__description{
		margin: 0 0 0 197px;
	}
}
.durotan-featuredcollection__box{
	display: inline-block;
	position: relative;
	margin: 83px 26.5px 53px 0;
	width: calc(50% - 30px);
	&:nth-child(2n){
		margin: 83px 0 0 26.5px;
		.durotan-button{
			color: var(--durotan-background-color-primary);
			background-color: transparent;
			color: var(--durotan-color-primary);
			border: 1px solid var(--durotan-border-color-primary);
			&:hover{
				background-color: var(--durotan-background-color-primary);
				color: var(--durotan-color-light);
				border-color: transparent;
			}
		}
	}
	.durotan-featuredcollection__box__categories{
		margin: 86px 0 0 80px;
		text-transform: uppercase;
		color: var(--durotan-color-primary);
		font-family: $font__main;
		font-size: 14px;
	}
	h3{
		margin: 41px 0 0 80px;
		color: var(--durotan-color-darker);
		text-transform: uppercase;
		font-family: var(--durotan-heading-font);
		font-size: 60px;
		line-height: 61px;
	}
	p{
		margin: 49px 0 0 80px;
		font-family: $font__main;
	}
	.durotan-button{
		margin: 137px 0 86px 80px;
		font-family: $font__main;
		color: var(--durotan-color-light);
		font-size: 18px;
		display: inline-block;
		background-color: var(--durotan-background-color-primary);
		color: var(--durotan-color-light);
		border: 1px solid transparent;
		line-height: 58px;
		letter-spacing: 0.25px;
		text-transform: uppercase;
		padding: 0 32px;
		transition: .5s;
		&:hover{
			background-color: transparent;
			color: var(--durotan-color-primary);
			border-color: var(--durotan-border-color-primary);
		}
	}
}
.durotan-product{
	h2{
		margin: 148px 0 37px 197px;
	}
}
.durotan-product__link{
	font-size: 18px;
	text-transform: uppercase;
	font-family: $font__main;
	color: var(--durotan-text-main-color);
	cursor: pointer;
	transition: 0.5s;
	width: 17%;
	display: inline-block;
	vertical-align: top;
	margin: 0 197px 0 0;
	float: right;
	text-align: right;
	&.active,
	&:hover{
		text-shadow: 1px 0px var(--durotan-text-main-color);
		transition: 0.5s;
	}
	svg{
		fill: var(--durotan-text-main-color);
		height: 18px;
		font-size: 18px;
		vertical-align: -3px;
	}
}
.durotan-product__link--mobile{
	display: none;
	font-size: 13px;
	text-transform: uppercase;
	color: var(--durotan-color-primary);
	border: 1px solid var(--durotan-color-primary);
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 38px;
	&:hover{
		background-color: var(--durotan-color-primary);
		color: #fff;
	}
}
.durotan-product__tabs{
	display: inline-block;
	width: 54%;
	margin: 0 0 0 197px;
	position: relative;
	.scroll-tabs{
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		&::-webkit-scrollbar{
			background-color: transparent;
			width: 0px;
		}
	}
	.scroll-next-mobile{
		display: none;
		position: absolute;
		right: 40px;
		top: 0;
		svg{
			fill: var(--durotan-text-main-color);
			height: 18px;
			font-size: 18px;
			vertical-align: -3px;
		}
	}
	span{
		display: inline-block;
		font-size: 18px;
		text-transform: uppercase;
		font-family: $font__main;
		color: var(--durotan-text-main-color);
		margin: 0 65px 0 0;
		cursor: pointer;
		transition: .5s;
		&.active,
		&:hover{
			color: var(--durotan-color-darker);
			text-shadow: 1px 0px var(--durotan-color-darker);
			transition: .5s;
		}
	}
}
.durotan-product__slider{
	margin: 82px 0 0 0;
	overflow: visible;
	position: relative;
}
.durotan-product-button-next,
.durotan-product-button-prev{
	position: absolute;
	top: 203px;
	cursor: pointer;
	svg{
		fill: var(--durotan-color-lighter);
		height: 49px;
		font-size: 48px;
	}
}
.durotan-product-button-prev{
	left: -100px;
}
.durotan-product-button-next{
	right: -100px;
}
.durotan-product-pagination{
	text-align: center;
	margin: 80px 0 139px 0;
	.swiper-pagination-bullet{
		width: 8px;
		height: 8px;
		background-color: #ccc;
		border-radius: 5px;
		display: inline-block;
		border: none;
		&.swiper-pagination-bullet-active{
			width: 36px;
			background-color: var(--durotan-background-color-primary);
		}
	}
}
.durotan-product__images-slider{
	.durotan-product-button-next__image,
	.durotan-product-button-prev__image{
		position: absolute;
		top: 50%;
    	transform: translate(0,-50%);
		cursor: pointer;
		z-index: 9;
		background-color: #f4f3f2;
		width: 0;
		height: 50px;
		opacity: 0;
		text-align: center;
		svg{
			fill: var(--durotan-color-darker);
			height: 19px;
			font-size: 18px;
			transform: translate(0,-25%);
			margin: 50% 0 0 0;
		}
	}
	.durotan-product-button-prev__image{
		left: 0;
	}
	.durotan-product-button-next__image{
		right: 0;
	}
}
.durotan-product_slider__item{
	&:hover{
		cursor: pointer;
		.durotan-product__title{
			color: var(--durotan-color-primary);
			transition: .5s;
			a{
				box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 var(--durotan-color-primary);
			}
		}
		.durotan-product__variations{
			opacity: 1;
			transition: .5s;
			height: 60px;
		}
		.durotan-product-button-next__image,
		.durotan-product-button-prev__image{
			opacity: 1;
			width: 40px;
			transition: .5s;
		}
	}
	.hashtag{
		position: absolute;
		top: 20px;
		left: 18px;
		color: var(--durotan-color-darker);
		background-color: var(--durotan-color-light);
		padding: 2px 15px;
		z-index: 1;
		text-transform: uppercase;
		font-size: 12px;
	}
	.durotan-product__images-slider{
		margin: 0 0 18px 0;
		position: relative;
	}
}
.durotan-product__title{
	font-size: 18px;
	line-height: 18px;
	margin: 0 0 7px 0;
}
.durotan-product__variations{
	background-color: var(--durotan-color-light);
	opacity: 0;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	overflow: hidden;
	.addtocart{
		margin: 17px 0 0 27px;
		display: inline-block;
		font-size: 16px;
		color: var(--durotan-text-main-color);
		text-transform: uppercase;
	}
	.icon-variations{
		float: right;
		margin: 17px 27px 0 0;
		span{
			margin: 0 0 0 14px;
		}
		svg{
			font-size: 18px;
			height: 17px;
			fill: var(--durotan-color-darker);
			&:hover{
				fill: var(--durotan-text-main-color);
			}
		}
	}
}
.durotan-product__color--button{
	span{
		display: inline-block;
		border-radius: 50%;
		width: 22px;
		height: 22px;
		position: relative;
		border: 1px solid transparent;
		&:hover,
		&.active{
			border: 1px solid var(--durotan-border-color-primary);
		}
		i{
			position: absolute;
			top: 6px;
			left: 6px;
			display: inline-block;
			border-radius: 50%;
			width: 10px;
			height: 10px;
			vertical-align: middle;
		}
	}
}
.durotan-product__color--text{
	display: inline-block;
	font-size: 14px;
	color: var(--durotan-color-lighter);
	text-transform: uppercase;
	margin: 0 0 8px 0;
}
.durotan-product__price{
	margin: 0 0 12px 0;
	.price{
		color: var(--durotan-color-darker);
		font-size: 20px;
		&.has-promotion{
			font-size: 16px;
			color: var(--durotan-text-main-color);
			text-decoration: line-through;
		}
	}
	.promotion{
		color: #ea311d;
	}
}
.durotan-product__size{
	margin: 0 0 10px 0;
	span{
		display: inline-block;
		font-size: 14px;
		color: var(--durotan-color-lighter);
		width: 40px;
		height: 31px;
		border: 1px solid #999;
		text-align: center;
		padding: 9px 0 0 0;
		text-transform: uppercase;
		margin: 0 5px 0 0;
		&:hover,
		&.active{
			color: var(--durotan-color-primary);
			border-color: var(--durotan-border-color-primary);
			transition: .5s;
		}
	}
}
.durotan-journal{
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding: 104px 0 126px;
	display: inline-block;
	margin: 0 197px;
	h2{
		margin: 0 0 42px 0;
	}
	.durotan-journal__description{
		float: left;
		margin: 0 0 34px 0;
	}
	.durotan-journal__link{
		float: right;
		font-size: 18px;
		text-transform: uppercase;
		font-family: $font__main;
		color: var(--durotan-text-main-color);
		cursor: pointer;
		transition: 0.5s;
		display: inline-block;
		vertical-align: top;
		margin: 0 0 34px 0;
		&.active,
		&:hover{
			text-shadow: 1px 0px var(--durotan-text-main-color);
			transition: 0.5s;
		}
		svg{
			fill: var(--durotan-text-main-color);
			height: 18px;
			font-size: 18px;
			vertical-align: -3px;
		}
	}
}
.durotan-journal__item{
	margin: 32px 32px 32px 0;
	width: calc(50% - 32px);
	float: left;
	&:nth-child(2n+1){
		margin: 32px 0 32px 32px;
		float: right;
	}
	img{
		margin: 0 0 30px 0;
	}
}
.durotan-journal__datetime{
	float: left;
	display: inline-block;
	margin: 0 23px 0 0;
	span{
		display: block;
		&.day{
			font-size: 60px;
			line-height: 60px;
			color: var(--durotan-color-darker);
			font-family: var(--durotan-heading-font);
			margin: 0 0 19px 0;
		}
		&.month{
			font-size: 14px;
			line-height: 14px;
			text-transform: uppercase;
			margin: 0 0 10px 0;
		}
		&.year{
			font-size: 14px;
			line-height: 14px;
			text-transform: uppercase;
		}
	}
}
.durotan-journal__title__categories__author{
	h3{
		color: var(--durotan-color-darker);
		font-size: 24px;
		line-height: 34px;
		font-family: var(--durotan-heading-font);
		margin: 0 0 25px 0;
		&:hover{
			text-decoration: underline;
		}
	}
	.categories{
		color: var(--durotan-color-primary);
		font-size: 14px;
		text-transform: uppercase;
	}
	.author{
		color: var(--durotan-text-main-color);
		font-size: 14px;
	}
}
.durotan-follow-social{
	padding: 132px 0 210px 0;
	margin: 0 197px;
	h2{
		margin: 0 0 25px 0;
		font-size: 24px;
		text-transform: uppercase;
		font-family: var(--durotan-heading-font);
		color: var(--durotan-color-darker);
	}
	.durotan-follow-social__description{
		margin: 0 0 77px 0;
		font-size: 18px;
		color: var(--durotan-text-main-color);
		b{
			color: var(--durotan-color-darker);
		}
	}
}
.durotan-follow-social__details{
	display: flex;
}
.durotan-follow-social__details--item{
	margin: 0 10px 0 0;
	position: relative;
	display: flex;
	&:last-child(){
		margin: 0;
	}
	a{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: rgba( 0, 0, 0, 0.35);
		svg{
			position: absolute;
			fill: #fff;
			height: 48px;
			top: 50%;
			left: 50%;
			transform: translate( -50%,-50%);
		}
	}
	&:hover{
		a{
			opacity: 1;
			transition: .5s;
		}
	}
}

@media (max-width: 1366px){
	.durotan-container{
		padding-left: 20px;
		padding-right: 20px;
	}
	.durotan-logobrand-slider{
		margin: 0 0 0 20px;
		padding: 40px 71px 0 71px;
	}
	.durotan-about{
		margin: 0 0 0 20px;
		h2,
		.durotan-about__description{
			margin-left: 71px;
		}
		h2{
			margin-top: 40px;
		}
		.durotan-about__description{
			margin-right: 71px;
		}
	}
	.durotan-about__list{
		margin-left: 71px;
		margin-top: 60px;
		h3{
			margin-bottom: 23px;
		}
		.durotan-about__list__item__content{
			margin-bottom: 53px;
		}
	}
	.durotan-featuredcollection{
		padding-bottom: 55px;
		h2,
		.durotan-featuredcollection__description{
			margin-left: 71px;
		}
		h2{
			margin-top: 40px;
			margin-bottom: 10px;
		}
	}
	.durotan-featuredcollection__box{
		margin-top: 43px;
		margin-right: 21.5px;
		&:nth-child(2n){
			margin-right: 0;
			margin-left: 21.5px;
		}
		.durotan-featuredcollection__box__categories{
			margin-top: 66px;
		}
		.durotan-button{
			margin-top: 73px;
			margin-bottom: 66px;
		}
	}
	.durotan-product{
		h2,
		.durotan-product__tabs{
			margin-left: 71px;
		}
		h2{
			margin-top: 55px;
			margin-bottom: 17px;
		}
	}
	.durotan-product__slider{
		margin-top: 42px;
	}
	.durotan-product-button-prev,
	.durotan-product-button-next{
		display: none;
	}
	.durotan-product-pagination{
		margin-top: 30px;
		margin-bottom: 55px;
	}
	.durotan-journal{
		padding: 55px 0;
		margin: 0 71px;
		h2{
			margin-bottom: 22px;
		}
		.durotan-journal__description,
		.durotan-journal__link{
			margin-bottom: 14px;
		}
	}
	.durotan-follow-social{
		padding: 55px 0;
		margin: 0 71px;
		.durotan-follow-social__description{
			margin-bottom: 57px;
		}
	}
}
@media (max-width: 1200px){
	.durotan-about{
		.durotan-about__list__image{
			position: relative;
			img{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate( -50%, -50%);
			}
		}
	}
	.durotan-featuredcollection__box{
		.durotan-featuredcollection__box__categories{
			margin-top: 30px;
		}
		.durotan-button{
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
	.durotan-product{
		.durotan-product__tabs{
			width: 60%;
		}
		.durotan-product__link{
			margin-right: 0;
			width: 27%;
		}
	}
	.durotan-product_slider__item{
		.durotan-product__size{
			span{
				width: 28px;
    			height: 25px;
				padding: 3px 0 0 0;
			}
		}
	}
}
@media (max-width: 768px){
	.durotan-logobrand-slider{
		padding-left: 40px;
		padding-right: 40px;
	}
	.durotan-about{
		h2{
			margin: 65px 0 0;
			padding-left: 40px;
			padding-right: 40px;
		}
		.durotan-about__description{
			margin: 40px 0 0;
			padding-left: 40px;
			padding-right: 40px;
		}
	}
	.durotan-about__list{
		margin-top: 65px;
		margin-left: 0;
		.durotan-about__list__item{
			padding: 0;
			padding-left: 40px;
			padding-right: 40px;
			max-width: 100%;
			flex: none;
		}
	}
	.durotan-about__list__image{
		padding: 0;
		margin: 0 0 73px 0;
		max-width: 100%;
		flex: none;
		img{
			position: unset;
			transform: translate(0,0);
		}
	}
	.durotan-featuredcollection{
		padding-bottom: 78px;
		h2{
			margin: 51px 0 0 40px;
		}
		.durotan-featuredcollection__description{
			margin: 7px 0 22px 40px;
		}
	}
	.durotan-featuredcollection__box{
		width: 100%;
		margin: 25px 0 0 0;
		&:nth-child(2n){
			margin: 25px 0 0 0;
		}
		.durotan-featuredcollection__box__categories{
			margin: 43px 0 0 40px;
		}
		h3{
			margin: 20px 0 0 40px;
		}
		p{
			display: none;
		}
		.durotan-button{
			margin: 106px 0 39px 40px;
		}
	}
	.durotan-product{
		h2{
			margin: 70px 0 36px 40px;
		}
		.durotan-product__tabs{
			margin: 0 0 0 0;
			padding: 0 40px;
			width: 100%;
			.scroll-next-mobile{
				display: inline-block;
			}
			span{
				margin-right: 49px;
				float: left;
			}
		}
		.durotan-product__link{
			display: none;
		}
		.durotan-product__link--mobile{
			display: inline-block;
			margin-bottom: 79px;
		}
	}
	.durotan-product__slider{
		margin-top: 8px;
	}
	.durotan-journal{
		padding: 43px 0 69px;
		margin: 0;
		h2{
			margin: 0 40px 10px;
		}
		.durotan-journal__description{
			float: none;
			margin: 0 40px;
		}
		.durotan-journal__link{
			display: none;
		}
	}
	.durotan-journal__item{
		float: none;
		width: 100%;
		margin: 50px 0 0;
		img{
			margin-bottom: 20px;
		}
	}
	.durotan-follow-social{
		padding: 79px 0;
		margin: 0;
		overflow-x: hidden;
		h2{
			margin-bottom: 11px;
		}
		.durotan-follow-social__description{
			margin-bottom: 42px;
		}
	}
	.durotan-follow-social__details{
		overflow-x: scroll;
		padding-bottom: 47px;
		&::-webkit-scrollbar {
			width: 100px;
			height: 3px;
			background-color: #eee;
		}
		&::-webkit-scrollbar-thumb {
			background-color: var(--durotan-background-color-primary);
			border-radius: 3px;
		}
		.durotan-follow-social__details--item{
			margin-right: 5px;
		}
		img{
			width: 121px;
			height: 121px;
		}
	}
}
@media (max-width: 480px){
	.durotan-about{
		h2{
			font-size: 26px;
		}
		.durotan-about__description{
			font-size: 14px;
		}
	}
	.durotan-about__list__item{
		h3{
			font-size: 16px;
			line-height: 16px;
		}
		.durotan-about__list__item__content{
			font-size: 14px;
		}
		.col-xs-2{
			flex: 0 0 26.66667%;
			max-width: 26.66667%;
		}
		.col-xs-10 {
			flex: 0 0 73.33333%;
			max-width: 73.33333%;
		}
	}
	.durotan-featuredcollection{
		h2{
			font-size: 26px;
			line-height: 26px;
		}
		.durotan-featuredcollection__description{
			font-size: 14px;
		}
	}
	.durotan-featuredcollection__box{
		.durotan-featuredcollection__box__categories{
			font-size: 10px;
			line-height: 10px;
		}
		h3{
			font-size: 36px;
			line-height: 36px;
		}
		.durotan-button{
			font-size: 13px;
			padding: 0 18px;
			line-height: 40px;
		}
	}
	.durotan-product{
		h2{
			font-size: 36px;
			line-height: 36px;
		}
		.durotan-product__tabs{
			.scroll-tabs{
				width: 80%;
			}
			span{
				font-size: 13px;
			}
			.scroll-next-mobile{
				top: -6px;
			}
		}
	}
	.durotan-journal{
		h2{
			font-size: 26px;
			line-height: 26px;
		}
		.durotan-journal__description{
			font-size: 14px;
		}
	}
	.durotan-journal__item{
		.durotan-journal__datetime{
			span{
				&.day{
					font-size: 48px;
				}
				&.month{
					font-size: 11px;
				}
				&.year{
					font-size: 11px;
				}
			}
		}
		.durotan-journal__title__categories__author{
			h3{
				font-size: 18px;
			}
			.categories{
				font-size: 11px;
			}
			.author{
				font-size: 11px;
			}
		}
	}
	.durotan-follow-social{
		h2{
			font-size: 16px;
			line-height: 16px;
		}
		.durotan-follow-social__description{
			font-size: 13px;
		}
	}
}