.durotan-collections{
	display: flex;
	flex-wrap: wrap;
  	justify-content: space-between;
	h2{
		text-align: center;
		font-size: 100px;
		line-height: 100px;
		text-transform: uppercase;
		color: var(--durotan-color-light);
		margin: 0 0 46px 0;
	}
	h3{
		font-size: 48px;
		line-height: 100px;
		text-align: center;
		color: var(--durotan-color-light);
		margin: 0 0 9px 0;
	}
}
.durotan-collections__left{
	width: 50%;
	height: 960px;
	padding: 248px 0 0;
}
.durotan-collections__right{
	width: 50%;
	height: 960px;
	padding: 248px 0 0;
}
.durotan-collections__full{
	width: 100%;
	height: 960px;
	padding: 248px 0 0;
	h2{
		margin: 0 0 18px 0;
	}
	.durotan-collections__content{
		margin: 0 0 129px 0;
	}
}
.durotan-collections__content{
	text-align: center;
	font-size: 24px;
	line-height: 36px;
	color: var(--durotan-color-light);
	margin: 0 0 121px 0;
}
.durotan-collections__button{
	display: table;
	margin: 0 auto;
	border: 1px solid var(--durotan-color-light);
	color: var(--durotan-color-light);
	height: 58px;
	line-height: 58px;
	padding: 0 35px;
	font-size: 18px;
	text-transform: uppercase;
	&:hover{
		background: var(--durotan-color-light);
		color: var(--durotan-color-darker);
	}
}
.durotan-collections__sex{
	text-align: center;
	.durotan-collections__button{
		display: inline-block;
	}
}
.durotan-featuredproduct--homecollections{
	h2{
		font-family: var(--durotan-heading-font);
	}
}
.durotan-product__slider--homecollections{
	.durotan-product__link--mobile{
		display: table;
		width: auto;
		margin: 40px auto 183px;
		padding: 0 38px;
		color: var(--durotan-color-darker);
		border-color: var(--durotan-color-darker);
		&:hover{
			background: var(--durotan-color-darker);
			color: var(--durotan-color-light);
		}
	}
	.durotan-product_slider__item:hover{
		h3{
			a{
				color: var(--durotan-color-darker);
			}
		}
	}
}
.durotan-product__variations--homecollections{
	.icon-variations{
		float: none;
		margin: 17px 0 0 0;
	}
	span{
		vertical-align: middle;
		font-size: 14px;
		text-transform: uppercase;
		color: var(--durotan-color-darker);
		&.heart{
			border-right: 1px solid #d6d6d6;
			padding-right: 21px;
		}
		&.quickview{
			color: var(--durotan-color-lighter);
		}
		svg{
			margin-right: 6px;
			vertical-align: middle;
		}
	}
}
.durotan-editorial--homecollections{
	background: #f8f6f3;
	padding-bottom: 140px;
	border-top: none;
	h2{
		text-transform: uppercase;
		font-family: var(--durotan-heading-font);
	}
}
.durotan-commit-scroll--homecollections{
	background: #f8f6f3;
	.durotan-commit{
		border-top: 1px solid #e6e6e6;
		border-bottom: none;
		padding-top: 100px;
	}
}
@media (max-width: 1366px){
    .durotan-collections{
		h2{
			font-size: 72px;
			line-height: 74px;
		}
	}
	.durotan-collections__left,
	.durotan-collections__right,
	.durotan-collections__full{
		padding-top: 100px;
		height: 667px;
	}
	.durotan-featuredproduct--homecollections{
		.durotan-product__link--mobile{
			margin-bottom: 70px;
		}
	}
}
@media (max-width: 1200px){
	.durotan-collections__content{
		font-size: 20px;
	}
}
@media (max-width: 1024px){
	.durotan-collections{
		h2{
			font-size: 45px;
			line-height: 52px;
		}
		h3{
			font-size: 34px;
    		line-height: 65px;
		}
	}
	.durotan-collections__left,
	.durotan-collections__right,
	.durotan-collections__full {
		padding-top: 80px;
		height: 533px;
	}
	.durotan-collections__content{
		margin-bottom: 82px;
	}
	.durotan-collections__full{
		.durotan-collections__content{
			margin-bottom: 84px;
		}
	}
	.durotan-collections__button{
		height: 40px;
		line-height: 40px;
		padding: 0 20px;
	}
	.durotan-product__variations--homecollections{
		span{
			font-size: 13px;
		}
	}
	.durotan-editorial--homecollections{
		padding-bottom: 50px;
	}
	.durotan-commit-scroll--homecollections{
		.durotan-commit{
			padding-top: 44px;
		}
	}
}
@media (max-width: 768px){
	.durotan-collections__left,
	.durotan-collections__right,
	.durotan-collections__full{
		width: 100%;
		height: auto;
		padding: 50px 0;
	}
}
@media (max-width: 480px){
	.durotan-collections{
		h2{
			font-size: 30px;
    		line-height: 37px;
		}
		h3{
			font-size: 22px;
			line-height: 58px;
		}
	}
	.durotan-collections__content {
		font-size: 16px;
		margin-bottom: 40px;
		line-height: 28px;
	}
	.durotan-collections__full{
		.durotan-collections__content{
			margin-bottom: 40px;
		}
	}
	.durotan-collections__button{
		font-size: 14px;
	}
}
@media (max-width: 320px){
	.durotan-collections{
		h2{
			margin-bottom: 30px;
			br{
				display: none;
			}
		}
	}
	.durotan-collections__content{
		font-size: 14px;
		br{
			display: none;
		}
	}
}