.durotan-banner{
	display: flex;
}
.durotan-banner__categories{
	text-transform: uppercase;
}
.durotan-banner__left{
	width: 1245px;
	height: 700px;
	position: relative;
	.durotan-banner__categories{
		margin: 105px 0 31px 80px;
		color: rgba( 0, 0, 0, 0.5);
	}
	h2{
		font-family: var(--durotan-heading-font);
		text-transform: uppercase;
		font-size: 60px;
		line-height: 63px;
		color: #503a2a;
		margin: 0 0 77px 80px;
		span{
			color: #ff4e00;
		}
	}
	.durotan-banner__content{
		color: rgba( 0, 0, 0, 0.75);
		font-size: 18px;
		margin: 0 0 0 80px;
	}
	.durotan-banner__link{
		position: absolute;
		left: 80px;
		bottom: 100px;
		color: #503a2a;
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		border-bottom: 1px solid #503a2a;
		padding: 0 0 7px 0;
		display: inline-block;
	}
}
.durotan-banner__right{
	width: 675px;
	height: 700px;
	position: relative;
	.durotan-banner__categories{
		margin: 105px 0 31px 80px;
		color: rgba( 255, 255, 255, 0.5);
	}
	h2{
		font-family: var(--durotan-heading-font);
		font-size: 60px;
		line-height: 63px;
		color: #fff;
		margin: 0 0 41px 80px;
		span{
			color: #ff4e00;
		}
	}
	.durotan-banner__content{
		color: rgba( 255, 255, 255, 0.75);
		font-size: 18px;
		margin: 0 0 0 80px;
	}
	.durotan-banner__link{
		position: absolute;
		left: 80px;
		bottom: 100px;
		color: #fff;
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		border-bottom: 1px solid #fff;
		padding: 0 0 7px 0;
		display: inline-block;
	}
}
.durotan-product__home-full-width{
	padding: 0 80px;
	margin: 113px auto 0;
	.durotan-product__tabs{
		margin: 0;
		span{
			color: var(--durotan-color-lighter);
			font-family: var(--durotan-heading-font);
			font-size: 36px;
			text-transform: inherit;
			&:hover,
			&.active{
				color: var(--durotan-color-darker);
				text-shadow: 1px 0px var(--durotan-color-darker);
			}
		}
	}
	.durotan-product__slider{
		margin-top: 41px;
		border-bottom: 1px solid #e6e6e6;
	}
	.durotan-product__link{
		margin: 0;
	}
	.durotan-product-pagination{
		margin-top: 28px;
	}
}
.durotan-journal__home-full-width{
	padding: 95px 80px 0;
	margin: 0 auto;
	display: block;
	border: none;
	.durotan-journal__title-link{
		display: inline-block;
		width: 100%;
		h2{
			display: inline-block;
			font-size: 36px;
		}
		a{
			margin: 21px 0 0 0;
			color: var(--durotan-color-darker);
			&:hover{
				text-shadow: 1px 0 var(--durotan-color-darker);
			}
			svg{
				fill: var(--durotan-color-darker);
			}
		}
	}
	.durotan-journal__item{
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		float: none;
		width: auto;
	}
	.durotan-journal__item--content{
		width: 544px;
		height: 398px;
		border: 1px solid #dadada;
		padding: 60px;
		.durotan-journal__datetime{
			font-size: 13px;
			text-transform: uppercase;
			color: #666;
			float: none;
			display: block;
			margin: 0;
		}
		h3{
			font-size: 30px;
			line-height: 36px;
			margin: 17px 0 49px;
		}
		p{
			font-size: 16px;
		}
		.durotan-journal__more{
			font-size: 14px;
			text-transform: uppercase;
			font-weight: bold;
			text-decoration: underline;
			&:hover{
				color: var(--durotan-color-lighter);
				transition: .5s;
			}
		}
	}
	.durotan-journal__item--banner{
		width: 543px;
		height: 399px;
		margin: 0 0 0 56px;
	}
}
@media (max-width: 1919px){
	.durotan-journal__home-full-width{
		.durotan-journal__item{
			justify-content: space-between;
		}
		.durotan-journal__item--content{
			flex: 33.333%;
			width: auto;
			height: auto;
			padding: 30px;
			h3{
				margin-top: 10px;
				margin-bottom: 28px;
			}
			p{
				margin-bottom: 18px;
			}
		}
		.durotan-journal__item--banner{
			flex: calc(33.333% - 30px);
			width: auto;
			height: auto;
			margin-left: 30px;
			line-height: 0;
			font-size: 0;
			img{
				margin: 0;
			}
		}
	}
}
@media (max-width: 1366px){
	.durotan-journal__home-full-width{
		.durotan-journal__item--content{
			padding: 22px 30px;
			.durotan-journal__datetime{
				font-size: 11px;
			}
			h3{
				font-size: 26px;
				margin-bottom: 9px;
			}
			p{
				font-size: 14px;
				margin-bottom: 5px;
			}
		}
	}
}
@media (max-width: 1200px){
	.durotan-banner__left{
		width: 60%;
	}
	.durotan-banner__right{
		width: 40%;
	}
	.durotan-product__home-full-width{
		.durotan-product__tabs{
			span{
				font-size: 24px;
			}
		}
	}
	.durotan-journal__home-full-width{
		.durotan-journal__item--content{
			flex: 100%;
			padding: 30px;
			margin-bottom: 30px;
			.durotan-journal__datetime{
				font-size: 13px;
			}
			h3{
				font-size: 30px;
				margin-bottom: 28px;
			}
			p{
				font-size: 18px;
				margin-bottom: 18px;
			}
		}
		.durotan-journal__item--banner{
			flex: calc(50% - 15px);
			margin-right: 30px;
			margin-left: 0;
			&:last-child{
				margin-right: 0;
			}
		}
	}
}
@media (max-width: 768px){
	.durotan-banner{
		display: block;
	}
	.durotan-banner__left{
		width: 100%;
		height: auto;
		padding: 52px 24px;
		.durotan-banner__categories{
			margin: 0 0 27px 0;
			font-size: 14px;
		}
		.durotan-banner__link{
			position: unset;
		}
		h2{
			margin-left: 0;
			margin-bottom: 40px;
			font-size: 36px;
			line-height: 40px;
		}
		.durotan-banner__content{
			margin: 0 0 117px 0;
		}
	}
	.durotan-banner__right{
		width: 100%;
		height: auto;
		padding: 52px 39px;
		.durotan-banner__categories{
			margin: 0 0 27px 0;
			font-size: 14px;
		}
		.durotan-banner__link{
			position: unset;
		}
		h2{
			margin-left: 0;
			margin-bottom: 40px;
			font-size: 36px;
			line-height: 40px;
		}
		.durotan-banner__content{
			margin: 0 0 117px 0;
		}
	}
	.durotan-product__home-full-width{
		padding: 0 20px;
		.durotan-product-pagination{
			width: 100%;
			height: 3px;
			position: relative;
			background: #eee;
		}
		.swiper-pagination-progressbar-fill{
			background: #503a2a;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transform: scale(0);
			transform-origin: left top;
		}
		.durotan-product__tabs{
			.scroll-next-mobile{
				top: 4px;
			}
		}
		.durotan-product__link--mobile{
			border: none;
			display: table;
			margin: 0 auto 79px;
			width: auto;
			height: auto;
			font-size: 16px;
			color: #503a2a;
			text-transform: uppercase;
			font-weight: bold;
			border-bottom: 1px solid #503a2a;
			padding-bottom: 12px;
		}
	}
	.durotan-journal__home-full-width{
		padding: 68px 20px;
		.durotan-journal__title-link{
			margin-bottom: 20px;
			h2{
				font-size: 24px;
			}
		}
		.durotan-journal__link{
			display: inline-block;
			font-size: 14px;
		}
		.durotan-journal__item--content{
			.durotan-journal__datetime{
				font-size: 11px;
			}
			h3{
				font-size: 20px;
			}
			p{
				font-size: 14px;
				line-height: 20px;
			}
			.durotan-journal__more{
				font-size: 11px;
			}
		}
	}
}
@media (max-width: 480px){
	.durotan-banner__left{
		padding: 52px 39px;
		.durotan-banner__categories {
			margin-bottom: 14px;
		}
		h2{
			margin-bottom: 24px;
		}
		.durotan-banner__content{
			margin-bottom: 98px;
			width: 56%;
		}
		.durotan-banner__link{
			font-size: 16px;
		}
	}
	.durotan-banner__right{
		padding: 52px 39px;
		.durotan-banner__categories {
			margin-bottom: 14px;
		}
		h2{
			margin-bottom: 24px;
		}
		.durotan-banner__content{
			margin-bottom: 98px;
			width: 56%;
		}
		.durotan-banner__link{
			font-size: 16px;
		}
	}
	.durotan-product__home-full-width{
		margin-top: 60px;
		.durotan-product__tabs{
			padding: 0;
			span{
				margin-right: 53px;
			}
		}
		.durotan-product__slider{
			margin-top: 3px;
		}
		.durotan-product-pagination{
			margin-bottom: 49px;
		}
		.durotan-product__link--mobile{
			padding-bottom: 0;
			line-height: 36px;
			margin-bottom: 60px;
		}
	}
	.durotan-journal__home-full-width{
		.durotan-journal__title-link{
			margin-bottom: 35px;
			h2{
				margin: 0;
			}
			a{
				margin: 0;
			}
		}
		.durotan-journal__item--banner{
			flex: 100%;
			margin-right: 0;
			margin-bottom: 30px;
		}
	}
}