.durotan-featuredcollection--homedarkskin{
	padding-bottom: 0;
	h2{
		margin-left: 0;
		text-align: center;
	}
	.durotan-featuredcollection__descriptions{
		text-align: center;
	}
	.durotan-featuredcollection__box__categories{
		color: #eaddc7;
	}
	h3{
		color: #fbf7ef;
	}
	p{
		color: #ccc;
	}
	.durotan-button{
		border-color: #da5f39;
		background: #da5f39;
		color: var(--durotan-color-light);
		&:hover{
			border-color: #fbf7ef;
			color: #fbf7ef;
			background: transparent;
		}
	}
	.durotan-featuredcollection__box{
		&:nth-child(2n){
			.durotan-button{
				border-color: #fbf7ef;
				color: #fbf7ef;
				&:hover{
					border-color: #da5f39;
					background: #da5f39;
					color: var(--durotan-color-light);
				}
			}
		}
	}
}
.durotan-featuredproduct--homedarkskin{
	padding-top: 65px;
	h3{
		font-family: $font__main;
	}
	.addtocart{
		svg{
			width: 16px;
			height: 16px;
			vertical-align: middle;
			margin-right: 10px;
		}
		&.button{
			&:hover{
				background: var(--durotan-background-color-darker);
				svg{
					fill: var(--durotan-color-light);
				}
			}
		}
	}
	.durotan-product-button-prev{
		left: 96px;
	}
	.durotan-product-button-next{
		right: 96px;
	}
}
.durotan-product__tabs--darkskin{
	svg{
		width: 30px;
		height: 31px;
		vertical-align: top;
		margin-right: 18px;
	}
}
.hashtag{
	&.sale{
		background: #da5f39;
		color: var(--durotan-color-light);
	}
}
.durotan-product__variations--homedarkskin{
	background: transparent;
	border: none;
	.icon-variations{
		padding: 0;
		span{
			background: #fff;
			border-radius: 50%;
			width: 45px;
			height: 45px;
			text-align: center;
			margin-bottom: 10px;
			svg{
				vertical-align: bottom;
			}
			&:hover{
				background: #da5f39;
				svg{
					fill: #fbf7ef;
				}
			}
		}
	}
}
.durotan-product__categories--heart{
	display: block;
	.heart{
		float: right;
		svg{
			width: 17px;
			height: 16px;
			vertical-align: middle;
		}
	}
}
.durotan-product-rating{
	svg{
		width: 13px;
		height: 12px;
		fill: #999;
		&.active{
			fill: #ffbb05;
		}
	}
}
.durotan-product__link--homedarkskin{
	text-align: center;
	margin-top: 55px;
}
.durotan-product__link--left{
	font-size: 18px;
	line-height: 60px;
	color: #fbf7ef;
	background: #da5f39;
	border: 1px solid #da5f39;
	text-transform: uppercase;
	height: 58px;
	padding: 0 37px;
	display: inline-block;
	&:hover{
		background: #fff;
		color: #da5f39;
	}
}
.durotan-product__link--right{
	font-size: 18px;
	line-height: 60px;
	color: #000;
	text-transform: uppercase;
	height: 58px;
	padding: 0 37px;
	border: 1px solid #000;
	display: inline-block;
	&:hover{
		color: #fff;
		background: #000;
	}
}
.durotan-about--banner{
	height: 750px;
	text-align: center;
	margin-top: 165px;
	p{
		margin-top: 235px;
		font-family: var(--durotan-heading-font);
		font-size: 36px;
		line-height: 60px;
		color: #fbf7ef;
		display: inline-block;
	}
	a{
		margin: 34px auto 0;
		display: table;
		color: #fbf7ef;
		font-size: 18px;
		text-transform: uppercase;
		text-decoration: underline;
	}
}
.durotan-product-best-seller{
	background: #e9e8e6;
	padding: 126px 0;
	h2{
		margin: 0 0 96px 0;
		font-size: 48px;
		text-align: center;
	}
}
.durotan-product-best-seller__item{
	display: flex;
}
.durotan-product-best-seller__item--left{
	text-align: center;
	position: relative;
}
.durotan-product-pagination-image{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	span{
		display: inline-block;
	}
}
@media (max-width: 1366px){

}
@media (max-width: 1200px){

}
@media (max-width: 1024px){

}
@media (max-width: 768px){
	.durotan-featuredcollection__descriptions{
		br{
			display: none;
		}
	}
	.durotan-about--banner{
		p{
			br{
				display: none;
			}
		}
	}
}
@media (max-width: 480px){

}
@media (max-width: 320px){

}