.durotan-commit{
	padding: 76px 0 65px;
	&.swiper-wrapper{
		margin: 0 55px;
		width: calc(100% - 110px);
	}
}
.durotan-commit__item{
	display: inline-flex;
	&.swiper-slide{
		width: 33.333%;
	}
	svg{
		width: 40px;
		* {
			vertical-align: top;
		}
	}
}
.durotan-commit__item--title-content{
	display: inline-block;
	margin-left: 41px;
}
.durotan-commit__title{
	font-size: 22px;
	line-height: 18px;
	text-transform: uppercase;
	margin: 0 0 22px;
	letter-spacing: 0.05em;
	color: var(--durotan-color-darker);
}
.durotan-commit__content{
	color: var(--durotan-color-lighter);
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.025em;
}
.durotan-commit__pagination{
	width: 100%;
	height: 1px;
	position: relative;
	background-color: #e6e6e6;
}
.durotan-commit-slider{
	padding-left: 20px;
	padding-right: 20px;
	&.swiper-container{
		padding-left: 15px;
		padding-right: 15px;
	}
	.swiper-pagination-progressbar-fill{
		background-color: #000;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transform: scale(0);
		transform-origin: left top;
	}
}
.durotan-featuredproduct{
	padding-top: 160px;
}
.durotan-featuredproduct__title{
	text-align: center;
	font-size: 48px;
	line-height: 18px;
	font-family: $font__main;
	margin-bottom: 67px;
	font-weight: 300;
	color: var(--durotan-color-darker);
}
.durotan-product__tabs--homemodern{
	margin-left: 0;
	width: 100%;
	.durotan-product-scroll-tabs__container{
		text-align: center;
		display: block;
	}
	span{
		font-size: 20px;
		line-height: 42px;
		letter-spacing: 0.05em;
		margin: 0 32px;
		color: var(--durotan-color-lighter);
		width: auto;
		&.active,
		&:hover{
			text-shadow: none;
		}
	}
}
.scroll-prev-mobile,
.scroll-next-mobile{
	display: none;
}
.durotan-product__slider--homemodern{
	margin-top: 40px;
	.durotan-container-narrow{
		padding-left: 15px;
		padding-right: 15px;
	}
	.durotan-product_slider__item{
		&:hover{
			.durotan-product__variations--homemodern{
				height: auto;
				transition: .5s;
				display: inline-block;
				border-color: #ccc;
				.icon-variations{
					padding: 16px 20px;
					span{
						&:hover{
							fill: var(--durotan-color-primary);
						}
					}
				}
			}
			.durotan-product__title{
				color: var(--durotan-color-darker);
				a{
					box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 var(--durotan-color-darker);
				}
			}
			.addtocart{
				&.button{
					opacity: 1;
				}
			}
			.durotan-product__color--image{
				opacity: 1;
			}
		}
	}
	.addtocart{
		&.button{
			opacity: 0;
			display: block;
			border: 1px solid var(--durotan-color-darker);
			font-size: 14px;
			line-height: 48px;
			text-transform: uppercase;
			height: 48px;
			text-align: center;
			&:hover{
				background-color: var(--durotan-background-color-darker);
				color: var(--durotan-color-light);
			}
		}
	}
	.durotan-product-button-prev,
	.durotan-product-button-next{
		top: 183px;
		&:focus{
			outline: none;
		}
		&:hover{
			svg{
				fill: #000;
			}
		}
	}
	.durotan-product-button-prev{
		left: 127px;
	}
	.durotan-product-button-next{
		right: 127px;
	}
	.durotan-product__link--mobile{
		font-size: 13px;
		height: 41px;
		line-height: 41px;
		border: 1px solid var(--durotan-color-darker);
		color: var(--durotan-color-darker);
		text-transform: uppercase;
		text-align: center;
		margin-top: 65px;
	}
	.hashtag{
		border: 1px solid #ccc;
		letter-spacing: 0.05em;
		left: 17px;
		padding: 2px 9px;
		font-weight: 500;
	}
}
.durotan-product__title{
	font-size: 18px;
	line-height: 26px;
	font-family: $font__main;
}
.durotan-product__categories{
	font-size: 13px;
	color: var(--durotan-color-lighter);
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.durotan-product__color--image{
	position: absolute;
	bottom: 0;
	left: -1px;
	background-color: var(--durotan-color-light);
	right: -1px;
	padding: 12px 0;
	opacity: 0;
	img{
		border: 1px solid var(--durotan-color-lighter);
		margin: 0 5px 0 0;
		&.active{
			border-color: var(--durotan-color-darker);
		}
	}
}
.durotan-product__variations--homemodern{
	top: 20px;
	right: 20px;
	left: auto;
	bottom: auto;
	width: auto;
	border: 1px solid var(--durotan-color-lighter);
	height: 0;
	display: none;
	.icon-variations{
		float: none;
		padding: 0;
		margin: 0;
		span{
			display: block;
			margin: 0 0 20px 0;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.durotan-product-pagination{
	margin-bottom: 0;
	.swiper-pagination-bullet{
		margin-right: 21px;
		&.swiper-pagination-bullet-active{
			background-color: #5e6879;
		}
	}
}
.durotan-collection{
	margin: 147px 0 197px;
	display: flex;
}
.durotan-collection__title{
	margin: 3px 0 0 63px;
	font-size: 48px;
	line-height: 60px;
	font-family: $font__main;
	font-weight: 300;
}
.durotan-collection__left{
	width: 435px;
	height: 600px;
	margin: 0 10px 0 0;
	position: relative;
}
.durotan-collection__right{
	width: 995px;
	height: 600px;
	position: relative;
}
.durotan-collection__categories{
	margin: 67px 0 0 63px;
	font-size: 14px;
	color: var(--durotan-color-lighter);
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.durotan-collection__button{
	position: absolute;
	display: inline-block;
	text-align: center;
	line-height: 18px;
	padding: 21px 31.4px;
	left: 60px;
	bottom: 64px;
	background-color: var(--durotan-background-color-light);
	color: var(--durotan-color-darker);
	font-size: 18px;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	&:hover{
		color: var(--durotan-color-light);
		background-color: var(--durotan-background-color-primary);
	}
}
.durotan-dealoftheweeks{
	text-align: center;
	padding: 104px 0 68px;
}
.durotan-dealoftheweeks__title{
	color: var(--durotan-color-light);
	font-size: 72px;
	font-family: $font__main;
	font-weight: 300;
	line-height: 80px;
	margin-top: 0;
	margin-bottom: 38px;
}
.durotan-dealoftheweeks__descriptions{
	font-size: 18px;
	line-height: 90px;
	text-transform: uppercase;
	color: var(--durotan-color-light);
	margin-bottom: 13px;
	letter-spacing: 0.2em;
}
#durotan-dealoftheweeks__countdown{
	display: inline-flex;
	margin: 0 0 82px 0;
	.days,
	.hours,
	.minutes{
		margin: 0 80px 0 0;
	}
	.num{
		font-size: 72px;
		line-height: 88px;
		font-weight: 300;
		text-transform: uppercase;
		color: var(--durotan-color-light);
		display: block;
	}
	.text{
		font-size: 14px;
		text-transform: uppercase;
		color: var(--durotan-color-light);
		letter-spacing: 0.05em;
	}
}
.durotan-dealoftheweeks__button{
	display: table;
	margin: 0 auto 108px;
	font-size: 18px;
	text-transform: uppercase;
	color: var(--durotan-color-darker);
	background-color: var(--durotan-background-color-light);
	padding: 21px 31.4px;
	line-height: 18px;
	letter-spacing: 0.025em;
	&:hover{
		color: var(--durotan-color-light);
		background-color: var(--durotan-background-color-primary);
	}
}
.durotan-dealoftheweeks__note{
	font-size: 16px;
	line-height: 36px;
	color: var(--durotan-color-light);
}
.durotan-dealoftheweeks__note--datetime{
	color: var(--durotan-color-darker);
	background-color: #fee2a7;
	padding: 7px 9px 5px;
	margin: 0 6px;
}
.durotan-dealoftheweeks__note--uppercase{
	text-transform: uppercase;
}
.durotan-giftcard{
	padding-top: 170px;
	padding-bottom: 152px;
}
.durotan-giftcard__title{
	font-size: 47.99px;
	line-height: 17.99px;
	font-weight: 300;
	text-align: center;
	display: block;
	font-family: $font__main;
	margin: 0 0 59px 0;
	color: var(--durotan-color-darker);
}
.durotan-giftcard__descriptions{
	display: block;
	font-size: 19.99px;
	line-height: 41.99px;
	color: var(--durotan-color-lighter);
	margin: 0 0 104px 0;
}
.durotan-giftcard__item{
	display: flex;
}
.durotan-giftcard__item--left{
	width: 337px;
	margin: 0 216px 0 0;
	img{
		border-radius: 33px;
		margin: 81px 0 0 0;
	}
}
.durotan-giftcard__item--right{
	width: 500px;
}
.durotan-giftcard__item--right__title{
	margin: 0 0 43px;
	line-height: 18px;
	font-size: 36px;
	font-family: $font__main;
	font-weight: 300;
}
.durotan-giftcard__price{
	font-size: 23.99px;
	line-height: 17.99px;
	color: #666;
	text-transform: uppercase;
	border-bottom: 1px solid #e6e6e6;
	padding: 0 0 41px 0;
	margin: 0 0 24px 0;
}
.durotan-giftcard__chooseprice{
	p{
		font-size: 14px;
		line-height: 17.99px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin-bottom: 12px;
	}
	span{
		display: inline-block;
		font-size: 16px;
		text-align: center;
		line-height: 17.99px;
		color: var(--durotan-color-lighter);
		border: 1px solid #ccc;
		padding: 16.5px 22.3px;
		margin-bottom: 5px;
		&.active{
			color: var(--durotan-color-darker);
			border-color: var(--durotan-color-darker);
		}
	}
}
.durotan-giftcard__quantity{
	p{
		font-size: 14px;
		line-height: 17.99px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin-top: 20px;
		margin-bottom: 13px;
	}
	.number-button{
		border: 1px solid #ccc;
		padding: 0;
		display: inline-block;
		width: 164px;
		height: 52px;
		margin-bottom: 34px;
	}
	.spinner__button{
		background-color: transparent;
		color: var(--durotan-color-lighter);
		font-size: 16px;
		width: 52px;
		height: 52px;
		padding: 0;
		svg{
			width: 16px;
			fill: #999;
		}
		&:hover{
			svg{
				fill: #000;
			}
		}
	}
	.spinner__button--right{
		svg{
			fill: #000;
		}
	}
	input[type="number"]{
		text-align: center;
		font-size: 16px;
		color: var(--durotan-color-darker);
		width: 46px;
		-moz-appearance: textfield;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance:none;
			margin: 0;
		}
		&:hover::-webkit-inner-spin-button,
		&:hover::-webkit-outer-spin-button {
		   -moz-appearance: none;
			-webkit-appearance: none;
			appearance:none;
			margin:0;
		}
	}
}
.durotan-giftcard__button{
	font-size: 16px;
	color: var(--durotan-color-darker);
	border: 1px solid var(--durotan-color-darker);
	display: block;
	padding: 18.5px 0;
	line-height: 17.99px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 14px;
	letter-spacing: 0.075em;
	&:hover{
		color: var(--durotan-color-light);
		background-color: var(--durotan-background-color-darker);
	}
}
.durotan-giftcard__checkoutpaypal{
	font-size: 16px;
	color: var(--durotan-color-darker);
	background-color: #fdc349;
	padding: 17px 0;
	line-height: 17.99px;
	text-align: center;
	display: block;
	margin-bottom: 39px;
	&:after{
		content: "";
		display: inline-block;
		width: 92px;
		height: 24px;
		background: url(../images/paypal.png) left top no-repeat;
		margin-left: 15px;
		vertical-align: bottom;
	}
}
.durotan-giftcard__details{
	display: block;
	border-top: 1px solid #e6e6e6;
	padding: 36px 0 39px 0;
	font-size: 16px;
	line-height: 29.9px;
	color: #666;
	a{
		color: var(--durotan-color-darker);
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		svg{
			width: 11px;
			fill: var(--durotan-color-darker);
		}
	}
}
.durotan-giftcard__social{
	font-size: 14px;
	text-transform: uppercase;
	vertical-align: middle;
	letter-spacing: 0.05em;
	a{
		display: inline-block;
		margin: 5px 0 0 15px;
	}
	svg{
		height: 20px;
	}
}
.durotan-editorial{
	border-top: 1px solid #e6e6e6;
	padding-top: 123px;
	padding-bottom: 199px;
}
.durotan-editorial__title{
	font-size: 47.99px;
	font-family: $font__main;
	font-weight: 300;
	line-height: 17.99px;
	text-align: center;
	display: block;
	margin: 0 0 75px 0;
}
.durotan-editorial__item{
	display: flex;
	img{
		margin: 0 0 19px 0;
	}
}
.durotan-editorial__item--title{
	font-size: 30px;
	line-height: 40px;
	font-family: $font__main;
	font-weight: 300;
	margin: 0;
	display: inline;
	&:hover{
		box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 var(--durotan-color-darker);
	}
}
.durotan-editorial__item--left,
.durotan-editorial__item--center,
.durotan-editorial__item--right{
	width: 440px;
}
.durotan-editorial__item--center,
.durotan-editorial__item--right{
	margin-left: 60px;
}
.durotan-editorial__meta{
	margin: 0 0 18px 0;
}
.durotan-editorial__categories{
	text-transform: uppercase;
	color: var(--durotan-color-darker);
	margin-right: 14px;
	letter-spacing: 0.05em;
	font-size: 14px;
}
.durotan-editorial__datetime{
	margin: 0 13px;
	color: var(--durotan-color-lighter);
	font-size: 14px;
	&:hover{
		color: var(--durotan-color-darker);
	}
}
.durotan-editorial__author{
	margin: 0 13px;
	color: var(--durotan-color-lighter);
	font-size: 14px;
	&:hover{
		color: var(--durotan-color-darker);
	}
}
@media (max-width: 1024px){
	.durotan-commit{
		padding: 37px 0 35px;
	}
	.durotan-commit.swiper-wrapper{
		margin: 0 20px;
		width: calc(100% - 40px);
	}
	.durotan-commit__item{
		svg{
			width: 28px;
		}
	}
	.durotan-commit__item--title-content{
		margin-left: 22px;
	}
	.durotan-commit__title{
		font-size: 14px;
		margin-bottom: 5px;
	}
	.durotan-commit__content{
		font-size: 12px;
	}
	.durotan-commit__pagination{
		height: 2px;
	}
	.durotan-featuredproduct{
		padding-top: 95px;
	}
	.durotan-product__slider--homemodern{
		margin-top: 0;
	}
	.durotan-product-pagination{
		position: relative;
		height: 3px;
		background-color: #eee;
		.swiper-pagination-progressbar-fill{
			background-color: #000;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transform: scale(0);
			transform-origin: left top;
		}
	}
	.durotan-product__link--mobile{
		display: block;
	}
	.durotan-collection{
		margin-top: 93px;
		margin-bottom: 92px;
		display: block;
	}
	.durotan-collection__left{
		margin-bottom: 5px;
	}
	.durotan-collection__left,
	.durotan-collection__right{
		display: inline-block;
		width: 100%;
		background-position: right bottom;
		background-size: auto auto;
	}
	.durotan-dealoftheweeks{
		background-position: left center;
	}
	.durotan-giftcard{
		padding-bottom: 68px;
	}
	.durotan-giftcard__item--left{
		margin-right: 110px;
	}
	.durotan-editorial{
		padding-top: 83px;
		padding-bottom: 105px;
	}
	.durotan-editorial__item--title{
		font-size: 20px;
		line-height: 30px;
	}
	.durotan-editorial__categories{
		font-size: 11px;
		margin-right: 9px;
	}
	.durotan-editorial__datetime{
		margin: 0 9px;
		font-size: 11px;
	}
	.durotan-editorial__author{
		font-size: 11px;
	}
}
@media (max-width: 768px){
	.durotan-product__tabs--homemodern{
		.durotan-product-scroll-tabs__container{
			display: flex;
		}
	}
	.durotan-collection__right{
		background-position: 5px center;
	}
	.durotan-dealoftheweeks {
		background-position: left bottom;
		background-size: 189%;
	}
	.durotan-giftcard__item--left {
		margin-right: 47px;
	}
	.durotan-editorial__item--center, .durotan-editorial__item--right{
		margin-left: 5px;
	}
}
@media (max-width: 480px){
	.durotan-commit__item.swiper-slide{
		width: 293px;
	}
	.durotan-featuredproduct__title{
		font-size: 26px;
		margin-bottom: 30px;
	}
	.durotan-product__tabs--homemodern{
		position: relative;
		span{
			font-size: 13px;
			margin: 0 44px 0 0;
		}
		.scroll-prev-mobile,
		.scroll-next-mobile{
			display: inline-block;
			position: absolute;
			svg{
				width: auto;
				height: 14px;
			}
		}
		.durotan-product-scroll-tabs{
			width: 303px;
			display: block;
			margin: 0 auto;
			.swiper-slide{
				display: inline-block;
				width: auto;
			}
		}
		.scroll-prev-mobile{
			left: 20px;
			top: 6px;
			cursor: pointer;
		}
		.scroll-next-mobile{
			right: 20px;
			top: 3px;
			cursor: pointer;
		}
	}
	.durotan-product__slider--homemodern{
		.durotan-product_slider__item{
			&:hover{
				.durotan-product__variations--homemodern{
					right: 10px;
					.icon-variations{
						padding: 7px 13px;
					}
				}
			}
		}
	}
	.durotan-product_slider__item.swiper-slide{
		width: 334px;
	}
	.durotan-collection__categories{
		margin-top: 54px;
		margin-left: 21px;
		font-size: 11px;
	}
	.durotan-collection__title{
		font-size: 28px;
		line-height: 34px;
		margin-left: 21px;
		margin-top: 17px;
	}
	.durotan-collection__left, .durotan-collection__right{
		height: 414px;
	}
	.durotan-collection__left{
		background-size: contain;
	}
	.durotan-collection__right{
		background-position: -128px bottom;
    	background-size: cover;
	}
	.durotan-collection__button{
		font-size: 14px;
		line-height: 18px;
		padding: 16px 21.5px;
		left: 21px;
	}
	.durotan-dealoftheweeks{
		padding-top: 42px;
		background-size: cover;
    	background-position: 47% center;
	}
	.durotan-dealoftheweeks__descriptions{
		font-size: 12px;
		margin-bottom: 0;
	}
	.durotan-dealoftheweeks__title{
		font-size: 42px;
		line-height: 48px;
	}
	#durotan-dealoftheweeks__countdown{
		margin-bottom: 49px;
		.days,
		.hours,
		.minutes{
			margin-right: 54px;
		}
		.num{
			font-size: 42px;
			line-height: 84px;
		}
		.text{
			font-size: 10px;
		}
	}
	.durotan-dealoftheweeks__button{
		font-size: 14px;
		padding: 12px 26px;
		margin-bottom: 55px;
	}
	.durotan-dealoftheweeks__note{
		font-size: 14px;
		line-height: 30px;
	}
	.durotan-dealoftheweeks__note--datetime{
		display: inline-block;
	}
	.durotan-dealoftheweeks__note--uppercase{
		display: block;
	}
	.durotan-giftcard{
		padding-top: 84px;
	}
	.durotan-giftcard__title{
		font-size: 26px;
		margin-bottom: 28px;
	}
	.durotan-giftcard__descriptions{
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 60px;
	}
	.durotan-giftcard__item{
		display: block;
	}
	.durotan-giftcard__item--left{
		background-color: #ebebeb;
		padding: 60px 74px;
		width: 100%;
		margin-right: 0;
		margin-bottom: 37px;
		img{
			margin-top: 0;
		}
	}
	.durotan-giftcard__item--right{
		width: 100%;
	}
	.durotan-giftcard__item--right__title{
		font-size: 22px;
		margin-bottom: 25px;
	}
	.durotan-giftcard__price{
		font-size: 16px;
		padding-bottom: 27px;
		margin-bottom: 26px;
	}
	.durotan-giftcard__chooseprice{
		p{
			font-size: 11px;
		}
		span{
			font-size: 12px;
			padding: 8.5px 10.7px;
		}
	}
	.durotan-giftcard__quantity{
		p{
			font-size: 11px;
		}
		.number-button{
			width: 108px;
			height: 36px;
			display: inline-flex;
			margin-bottom: 30px;
		}
		.spinner__button{
			font-size: 12px;
			width: 34px;
			height: 34px;
			line-height: 38px;
			svg{
				width: 12px;
			}
		}
		input[type="number"]{
			font-size: 12px;
			width: 38px;
			padding: 0;
			background-color: transparent;
			border-bottom: none;
		}
	}
	.durotan-giftcard__button{
		font-size: 14px;
		width: 100%;
	}
	.durotan-giftcard__checkoutpaypal{
		font-size: 14px;
		padding: 12px 0;
		margin-bottom: 29px;
		&::after{
			width: 67px;
			height: 18px;
			background-size: 100%;
		}
	}
	.durotan-giftcard__details{
		padding-top: 23px;
		padding-bottom: 28px;
		font-size: 12px;
		line-height: 20px;
		a{
			font-size: 11px;
		}
	}
	.durotan-editorial{
		padding-top: 75px;
		padding-bottom: 71px;
	}
	.durotan-editorial__title{
		font-size: 26px;
		margin-bottom: 43px;
	}
	.durotan-editorial__item{
		display: block;
		width: 100%;
	}
	.durotan-editorial__item--left, .durotan-editorial__item--center, .durotan-editorial__item--right{
		margin: 0 auto 31px;
		display: table;
	}
	.durotan-editorial__item--left, .durotan-editorial__item--center, .durotan-editorial__item--right{
		width: 100%;
	}
}
@media (max-width: 360px){
	.durotan-dealoftheweeks__title{
		font-size: 35px;
	}
	.durotan-giftcard__item--left{
		padding: 30px 35px;
	}
	.durotan-product__tabs--homemodern{
		.durotan-product-scroll-tabs{
			width: 211px;
		}
	}
	.durotan-product_slider__item.swiper-slide{
		width: 285px;
	}
	#durotan-dealoftheweeks__countdown{
		.days,
		.hours,
		.minutes{
			margin-right: 34px;
		}
	}
	.durotan-giftcard__title{
		font-size: 25px;
	}
}