.widget {
    margin: 0 0 62px;

    ul{
        list-style: none;
        padding-left: 0;
    }
}

.widget-title{
    text-transform: uppercase;
    letter-spacing: .25px;
    margin: 0 0 17px;
}

.widget_search {
    .widget-title{
        margin-bottom: 10px;
    }

    .search-form{
        position: relative;
    }

    .search-field{
        width: 100%;
    }

    .search-submit {
        color: #161619;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 0 0 20px;
        background: transparent;
        line-height: 45px;
    }

    .svg-icon{
        font-size: 20px;
    }
}

.durotan-socials-widget{
    a {
        display: inline-flex;
        color: var(--durotan-text-main-color);
        margin: 0 5px 5px 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #cdcdcd;

        .svg-icon{
            font-size: 18px;
        }

        &:hover{
            color: var(--durotan-color-light);
            background-color: var(--durotan-background-color-primary);
        }
    }
}

.durotan-popular-posts-widget{
    margin-bottom: 48px;

    ul{
        margin: 0;
    }

    li {
        padding: 16px 0 17px 30px;
        position: relative;

        &:not(:last-child){
            border-bottom: 1px solid #ebebeb;
        }

        &:hover{
            .no{
                color: var(--durotan-color-darker);
            }

            .post-title{
               a{
                   color: var(--durotan-color-primary);
                   text-decoration-line: underline;
               }
            }
        }
    }

    .no {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-size: 1.875rem;
        font-family: var( --durotan-heading-font );
        color: #cccccc;
        line-height: 1;
        width: 30px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-right: 1px solid #dfdfdf;
    }

    .post-summary {
        padding-left: 20px;
        max-width: 100%;
        line-height: 1;
    }

    .post-title{
        font-family: var( --durotan-heading-font );
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
    }

    .post-cat{
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .25px;
        margin-bottom: 5px;

        a{
            color: var(--durotan-color-lighter);
        }
    }
}

.durotan-instagram-widget{
    .widget-title{
        margin-bottom: 25px;
    }

    .instagram-desc{
        margin-bottom: 20px;
    }

    ul{
        list-style: none;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
    }

    li{
        float: left;
        width: 33.3333%;
        margin: 0;
        padding: 3px;
    }

    img{
        display: block;
    }
}

.widget_archive li,
.widget_categories li {
    padding: 12px 0;
    border-bottom: 1px solid #dadada;
    font-size: 14px;

    a{
        text-transform: uppercase;

        &:hover{
            color: var(--durotan-color-primary);
            text-decoration-line: underline;
        }
    }
}

.widget_archive li .posts-count,
.widget_categories li .posts-count {
    color: var(--durotan-color-lighter);
    float: right;
}

.durotan-instagram-widget {
	ul {
		margin: -5px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;

		li {
			padding: 5px;
			width: 33.3333%;
		}

		img {
			display: block;
		}

		&.columns-2 {
			li {
				width: 50%;
			}
		}

		&.columns-4 {
			li {
				width: 25%;
			}
		}
	}
}