@media (min-width: 1200px) {
	.header__mobile {
        display: none;
    }

	.durotan-slide__pagination ,
	.durotan-slide__arrow {
		width: 1590px;
	}

	.header-vertical {
		.footer-boxes {
			.footer__container {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.footer-main {
			> .footer__container:first-child {
				padding: 0;
			}

			> .footer__container:last-child {
				padding-left: 80px;
				padding-right: 80px;
			}
		}
	}
}

@media ( max-width: 1199px ) {
    .header__main,
    .header__bottom {
        display: none;
    }

	.header-vertical .site {
		padding-left: 0 !important;
    }

	.durotan-slide__tag ,
	.durotan-slide__fraction {
		display: none;
	}
}
