@media (max-width: 486px) {
	.comment-list{
        margin-bottom: 0;

        .comment-metadata{
            display: block;
    
            .fn{
                padding-right: 0;
            }
        }

        .comment-author ~ .comment-content{
            margin-left: 80px;
        }
    } 

    .comment-respond .comment-form-author, 
    .comment-respond .comment-form-email{
        width: 100%;
    }
}