@media (max-width: 782px) {

}

@media (max-width: 767px) {
	.cart-panel .offscreen-panel__wrapper__header {
		padding-left: 20px;
		padding-right: 20px;
	}

	.offscreen-panel__wrapper__content {
		padding: 50px 20px 0;
	}

	.offscreen-panel__button-close {
		right: 20px;
	}

	.post.hentry{
		margin-bottom: 60px;
	}

	.single-post__header{
		margin-bottom: 45px;
	}

	.single-post__title{
		margin-bottom: 35px;
	}

	.durotan-twitter-box{
		padding: 30px;
		margin: 30px 0;
	}

	.durotan-twitter-box__header{
		margin-bottom: 10px;
	}

	.durotan-twitter-box__content{
		font-size: 16px;
	}

	.single-post__footer {
		display: block;
		text-align: center;

		.durotan-social-links {
			label {
				display: block;
				margin-bottom: 15px;
			}
		}
	}

	.single-post__tags-links {
		margin-bottom: 30px;
		padding-right: 0;
		margin-top: 0;
	}

	.related-posts {
		padding-top: 45px;
		margin-bottom: 60px;
	}

	.single-post .comments-area{
		padding-top: 50px;
	}

	.durotan-sliders-bg-wrapper,
	.durotan-sliders__bg {
		height: 555px;
	}

	.durotan-sliders__inner {
		margin-top: 70px;
	}

	.durotan-slide__heading {
		font-size: 48px;
		line-height: 54px;
		margin-bottom: 20px;
	}

	.durotan-slide__before-heading {
		font-size: 14px;
		margin-bottom: 12px;
	}

	.durotan-slide__after-heading {
		font-size: 18px;
		margin-bottom: 25px;
	}

	.durotan-slide__description {
		font-size: 14px;
		line-height: 24px;
	}

	.durotan-slide__price {
		font-size: 12px;
	}

	.durotan-slide__price-number {
		font-size: 30px;
	}

	del.durotan-slide__price-number {
		font-size: 16px;
	}

	.durotan-slide-button {
		font-size: 13px;
		line-height: 42px;
		padding: 0 28px;
		margin-top: 65px;
	}

	.durotan-slide-button--light {
		margin-top: 48px;
	}

	.durotan-slide-button--line {
		padding: 0;
	}

	.durotan-slide__play-video {
		display: none;
	}

	.durotan-slide__arrow {
		bottom: 40px;
	}

	.durotan-slide__arrow-button {
		font-size: 12px;
	}

	.durotan-slide__arrow-button--prev {
		padding-right: 15px;
		margin-right: 10px;

		&:before {
			height: 12px;
		}
	}

	// Footer
	.site-footer {
		.mc4wp-form {
			input[type="text"],
			input[type="email"],
			select,
			textarea {
				font-size: 14px;
				padding: 0 25px;
			}

			input[type="text"],
			input[type="email"],
			select {
				height: 48px;
			}

			input[type="submit"],
			button {
				font-size: 13px;
				line-height: 40px;
			}
		}
	}

	.footer-boxes__box {
		border-right: 0;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.footer-boxes__box--newsletter {
		.mc4wp-form input[type="submit"],
		.mc4wp-form button {
			line-height: 48px;
		}
	}

	.footer-widgets {
		font-size: 14px;

		.widget-title {
			font-size: 18px;
			margin-bottom: 15px;
		}

		.widget_nav_menu {
			border-bottom: 1px solid #dedede;
		}

		ul.menu {
			li {
				margin-bottom: 7px;
			}
		}
	}

	.footer-newsletter {
		.wrapper {
			flex-direction: column;
			justify-content: center;

			> * {
				width: 100%;
			}
		}

		.mc4wp-form {
			.mc4wp-form-fields {
				max-width: 100%;
				margin: 0;
			}

			input[type="text"],
			input[type="email"],
			select,
			textarea {
				font-size: 13px;
				padding: 0 70px 0 30px;
			}

			input[type="text"],
			input[type="email"],
			select {
				height: 40px;
			}

			input[type="submit"],
			button {
				font-size: 12px;
				height: 40px;
				line-height: 40px;
			}

			.svg-icon {
				font-size: 16px;
			}
		}
	}

	.footer-newsletter__title {
		font-size: 24px;
		margin: 0 0 11px;
		text-align: center;
	}

	.footer-main {
		.footer__menu {
			ul.menu li {
				font-size: 12px;
				padding: 0 22px;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}

		.durotan-language,
		.durotan-currency {
			font-size: 13px;
		}

		.footer__social-links,
		.footer__currency,
		.footer__language {
			h4 {
				font-size: 10px;
			}
		}
	}
}

@media (max-width: 600px) {

}
