@media (min-width: 992px) {
	.sidebar-left,
	.sidebar-right {
		.content-area {
			flex: 0 0 calc( 770/1170*100% );
			max-width: calc( 770/1170*100% );
		}

		.widget-area {
			flex: 0 0 calc( 400/1170*100% );
			width: calc( 400/1170*100% );
		}
	}

	.sidebar-left {
		.widget-area {
			padding-right: 85px;
		}
	}

	.sidebar-right {
		.widget-area {
			padding-left: 85px;
		}
	}

	.durotan-featured-posts-carousel .blog-wrapper__entry-title{
		padding-right: 50%;
	}
}

@media (max-width: 991px) {
	.single-post .blog-sidebar{
        margin-top: 50px;
	}

	.durotan-slide__content {
		margin-right: 0;
	}

	.footer-widgets {
		padding-top: 60px;
    	padding-bottom: 60px;

		.footer-widgets-area {
			margin-bottom: 60px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.footer-newsletter {
		.wrapper {
			padding: 60px 40px 70px;
		}
	}

	.footer-main {
		font-size: 14px;
		padding: 40px 0;

		.footer__items--items,
		.footer__items--right {
			justify-content: center;
			align-items: center;
			text-align: center;
		}

		.footer__items {
			padding: 15px 0;
			flex-direction: column;

			> * {
				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.footer__items--left {
			> * {
				margin-right: 0;
			}
		}

		.footer__items--right {
			> * {
				margin-right: 0;
			}
		}

		.divider {
			margin-top: -40px;
		}
	}

	.footer__container:not( :first-child ) .footer__wrapper {
		flex-direction: column;
	}
}
