.main-navigation {
	height: 100%;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		ul {
			white-space: nowrap;
			position: absolute;
			left: 0;
			top: calc( 100% + 1px );
			opacity: 0;
			padding: 62px 0;
			background: #fff;
			transform: translate(0, 20px);
			transition: transform 0.3s, opacity 0.3s;
			z-index: 1000;
			pointer-events: none;
			box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);

			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				left: 0;
				top: -1px;
				background-color: transparent;
				z-index: -1;
			}
		}
	}

	li {
		position: relative;

		a {
			position: relative;

			.label {
				position: absolute;
				left: calc( 100% + 10px );
				top: 0;
				font-size: 11px;
				text-transform: uppercase;
			}
		}

		&:hover > ul {
			opacity: 1;
			transform: translate(0, 0);
			pointer-events: initial;
		}

		li {
			padding: 0 70px;

			ul {
				left: 100%;
				top: -20px;
				transform: translateX( 10px );
				margin: 0 0 0 3px;

				&:before {
					content: '';
					position: absolute;
					width: 3px;
					height: 100%;
					left: -3px;
					top: 0;
				}
			}

			a {
				font-size: 18px;
				color: #000;
			}

			&:hover {
				ul {
					transform: translateX( 0 );
				}
			}
		}
	}

	ul.menu {
		display: flex;
		align-items: center;
		height: 100%;
		margin: 0 -35px;

		> li {
			height: 100%;
			display: flex;
			align-items: center;

			> a {
				font-size: 16px;
				text-transform: uppercase;
				padding: 0 35px;
				position: relative;
				height: 100%;
				display: flex;
				align-items: center;
			}

			&:hover,
			&.current-menu-item {
				> a {
					color: var( --durotan-color-primary );
				}
			}
		}
	}

	// Mega Menu
	.mega-menu {
		padding: 0;

		ul:before {
			display: none;
		}

		ul {
			position: static;
			opacity: 1;
			margin: 0;
			padding: 0;
			box-shadow: none;
			transform: translate(0,0);
			background: 0;
		}

		.mega-menu__container {
			padding: 0;
		}
	}

	.mega-menu-main {
		display: flex;
		flex-wrap: wrap;
	}

	.mega-sub-menu {
		padding: 62px 70px;

		> a {
			color: var( --durotan-color-lighter );
			font-size: 14px;
			text-transform: uppercase;
			margin-bottom: 18px;
			display: block;
		}

		li {
			padding: 0;
		}
	}

	.menu-item-mega {
		&.mega-menu-full-width {
			position: static;

			.mega-menu {
				width: 100%;
			}
		}
	}

	// Custom
	.menu-item--shop .mega-menu-main {
		background-image: url( 'https://ipsumimage.appspot.com/365x600,f8f8f8?s=24' );
		background-position: top right;
		background-repeat: no-repeat;
	}
}

.header-v3 {
	.main-navigation {
		ul.menu {
			margin-left: -29px;
			margin-right: -29px;

			> li {
				> a {
					padding-left: 29px;
					padding-right: 29px;
				}
			}
		}
	}
}

.header-v5 {
	.main-navigation {
		ul.menu {
			margin-left: -29px;
			margin-right: -29px;

			> li {
				> a {
					padding-left: 29px;
					padding-right: 29px;
				}
			}
		}
	}
}

.header-v6 {
	.main-navigation {
		ul.menu {
			margin-left: -31px;
			margin-right: -31px;

			> li {
				> a {
					padding-left: 31px;
					padding-right: 31px;

					&:after {
						content: '';
						width: 5px;
						height: 5px;
						border-radius: 50%;
						background-color: #ccc;
						position: absolute;
						top: 50%;
						right: -2px;
						transform: translateY( -50% );
					}
				}

				&:last-child > a:after {
					display: none;
				}
			}
		}
	}
}