.next-posts-navigation {
	text-align: center;
	padding-top: 96px;

	a {
		display: inline-block;
		height: 50px;
		line-height: 50px;
		padding: 0 60px;
		border: 1px solid var(--durotan-color-darker);
	}
}

.durotan-pagination{
	margin-top: 60px;

	.page-numbers{
		display: inline-block;
		min-width: 40px;
		height: 40px;
		line-height: 40px;
		margin-right: 6px;
		text-align: center;
		border:1px solid #dfdfdf;
		color: var(--durotan-color-lighter);

		&:hover,
		&.current{
			border-color: transparent;
			background-color: var(--durotan-background-color-primary);
			color: var(--durotan-color-light);
		}

		.svg-icon{
			font-size: 12px;
		}

		&.next,
		&.prev{
			vertical-align: top;
			padding: 0 19px;
			font-size: 14px;
			text-transform: uppercase;
		}
	}
}