ul.products {
	margin: 0 -25px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;

	li.product {
		padding: 0 25px;
		margin-bottom: 80px;

		.product__thumbnail {
			position: relative;
			overflow: hidden;
			margin-bottom: 18px;

			img {
				display: block;
			}
		}

		.buttons {
			text-align: right;
			height: 60px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #fff;
			padding-left: 25px;
			padding-right: 20px;
			z-index: -1;
			transform: translateY( 100% );
			opacity: 0;
			transition: .4s;
		}

		.button {
			margin-left: 20px;
			display: inline-block;
			line-height: 60px;
			transition: .4s;

			&:first-child {
				float: left;
				margin-left: 0;
			}

			&:hover {
				color: var( --durotan-color-primary );
			}
		}

		.add_to_cart_button {
			font-size: 16px;
			text-transform: uppercase;
		}

		.add-to-wishlist-button {
			.svg-icon {
				font-size: 20px;
			}
		}

		.quick_view_button {
			.svg-icon {
				font-size: 17px;
			}
		}

		.compare_button {
			.svg-icon {
				font-size: 20px;
			}
		}

		.woocommerce-loop-product__title {
			font-size: 18px;
			margin: 0;
			font-family: $font__main;

			&:hover {
				a {
					color: var( --durotan-color-primary );
				}
			}
		}

		.price {
			color: var( --durotan-color-darker );
			font-size: 20px;

			ins {
				color: #ea311d;
			}

			del {
				font-size: 16px;
				color: var( --durotan-text-main-color );
			}
		}

		.product__inner {
			&:hover {
				.buttons {
					opacity: 1;
					transform: translateY( 0 );
					z-index: 9;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	ul.products {
		li.product {
			width: 25%;
		}
	}

	ul.products.columns-1 {
		li.product {
			width: 100%;
		}
	}

	@for $i from 2 through 6 {
		ul.products.columns-#{$i} {
			li.product {
				width: 1 / $i * 100%;
			}
		}
	}
}