.quantity .qty {
    background: 0;
    border: 0;
    padding: 0;
    text-align: center;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

@import 'products';
@import 'cart';