.comments-title.has-comments{
    margin: 0 0 51px;
}

.comment-list{
    list-style: none;
    margin: 0 0 39px;
    padding: 0;
    
    .comment-author{
        float: left;

        img{
            border-radius: 50%;
        }

        ~ .comment-content {
            margin-left: 105px;
        }
    } 

    .comment-desc{
        font-size: 16px;
        letter-spacing: .15px;
        line-height: (26/16);
        padding-right: 30px;
    }

    .comment-metadata{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        .fn{
            display: block;
            font-size: 20px;
            color: var(--durotan-color-darker);
            font-style: inherit;
            padding-right: 25px;
        }

        a.date{
            font-size: 14px;
            color: var(--durotan-color-lighter);
        }
    }

    .comment-body {
        padding: 42px 0;
        position: relative;

        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 80%;
            height: 1px;
            background-color: #d8d8d8 ;
        }
    }

    > li:first-child .comment-body {
        padding-top: 0;

        &:before{
            display: none;
        }
    }
} 

.comment-respond{
    .comment-reply-title{
        margin: 0 0 29px;
    }

    .comment-notes{
        font-size: 14px;
    }

    .comment-form-author, 
    .comment-form-email {
        width: 50%;
        float: left;
    }

    .comment-form{
        margin-left: -15px;
        margin-right: -15px;
        
        > p{
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 0 15px;
        }

        input[type=text], 
        input[type=email] {
           width: 100%;
           display: block;
       }

       .form-submit{
           display: inline-block;
           margin: 46px 0 0;

           input[type="submit"]{
                text-transform: uppercase;
           }
       }
    } 
} 