.page-header{
    text-align: center;
    margin-bottom: 59px;
}

.page-header__inner{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

.page-header__title{
    margin: 0 0 21px;
}