.sticky {
	display: block;
}

.hentry {
	margin: 0 0 82px;

	&.page {
		margin-bottom: 0;
	}
}

.updated:not(.published) {
	display: none;
}

.post__excerpt{
	margin-top: 10px;
}

.post__thumbnail {
	display: block;
	font-size: 0;
	margin-bottom: 30px;
}

.post__meta {
	font-size: 14px;
	color: var(--durotan-color-lighter);
	margin-bottom: 13px;

	.meta-divider {
		margin: 0 9px;
	}

	.meta-cat a {
		text-transform: uppercase;
		letter-spacing: 0.5px;
	}

	.svg-icon{
		font-size: 14px;
		margin-right: 10px;
	}
}

.post__title {
	margin: 0;
	line-height: (36/24);
}

// Single Post
.single-post {
	.wp-block-gallery {
		margin-top: 85px;
	}
}

.single-post__header {
	margin-bottom: 72px;
}

.single-post__title {
	font-size: 36px;
	line-height: calc( 46/36 );
	letter-spacing: -0.015em;
	margin: 0 0 82px;
}

.single-post__meta {
	font-size: 14px;
	color: var(--durotan-color-lighter);
	padding-bottom: 19px;

	.meta-cat a {
		color: var(--durotan-color-darker);
		text-transform: uppercase;
		letter-spacing: .05em;
	}

	.meta-divider{
		padding: 0 7px;
	}
}

.single-post__footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 75px;

	.durotan-social-links label {
		font-size: 14px;
		color:var(--durotan-color-darker);
		margin-right: 17px;
	}
}

.single-post__tags-links {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	a {
		font-size: 14px;
		color: #999999;
		padding: 0 0;
		border: 1px solid #dadada;
		padding: 0 10px;
		margin: 0 5px 5px 0;

		&:hover {
			color: #fff;
			border-color: var( --durotan-color-primary );
			background-color: var( --durotan-background-color-primary );
		}
	}
}

// Twitter Box
.durotan-twitter-box {
	padding: 67px 65px 64px;
	background-color: #f9f8f4;
	margin-top: 83px;
	margin-bottom: 52px;
}

.durotan-twitter-box__header{
	display: flex;
	margin-bottom: 38px;
	position: relative;
	padding-right: 40px;
}

.durotan-twitter-box__avatar{
	flex: none;
	margin-right: 20px;
}

.durotan-twitter-box__icon {
	font-size: 36px;
	color: #00ccff;
	position: absolute;
	right: 0;
	top: 10px;
}

.durotan-twitter-box__img{
	border-radius: 50%;
}

.durotan-twitter-box__meta {
	padding-left: 24px;
}

.durotan-twitter-box__name{
	font-size: 20px;
}

.durotan-twitter-box__date{
	font-size: 16px;
	color: var(--durotan-color-lighter);
}

.durotan-twitter-box__content{
	font-size: 28px;
	line-height: (46/28);
}

// Author Box
.durotan-author-box {
	display: flex;
	padding-top: 50px;
	margin-bottom: 38px;
	border-top: 1px solid #e5e5e5;
}

.durotan-author-box__avatar{
	flex: none;
	margin-right: 20px;

	img{
		border-radius: 50%;
	}
}

.durotan-author-box__info{
	.author-name{
		color: var(--durotan-color-darker);
		margin-bottom:9px;
		font-size: 24px;
		line-height: 1;
	}

	.author-job{
		font-size: 12px;
		text-transform: uppercase;
		color: var(--durotan-color-lighter);
		margin-bottom:9px;
	}

	.author-desc{
		font-size: 16px;
		margin-bottom:23px;
	}

	.durotan-social-links__link{
		color: var(--durotan-color-darker);
		margin: 0 10px 10px 0;
	}

	.durotan-social-links__icon{
		font-size: 16px;
	}
}

.related-posts {
	padding-top: 75px;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 90px;

	h3 {
		margin: 0 0 32px;
	}

	.row {
		margin: 0 -35px;
	}

	.post {
		padding: 0 35px;
		margin-bottom: 0;
	}
}

.single-post {
	.comments-area{
		padding-top: 75px;
		border-top: 1px solid #e5e5e5;
	}
}

// Blog page
.durotan-featured-posts-carousel{
	margin-bottom: 96px;

	.featured-post {
		position: relative;
		overflow: hidden;
		height: 670px;
		background-size: cover;

		--durotan-color-lighter:#ffffff;
		--durotan-color-darker: #ffffff;

		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 41%);
		}
	}

	.featured-post__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		margin-bottom: 0;
		z-index: 1;
	}

	.blog-wrapper__entry-title{
		margin-bottom: 66px;
	}

	.featured-post--1 {
		background-image: url(https://ipsumimage.appspot.com/1570x670,4C3F2F?s=0);
	}

	.featured-post--2 {
		background-image: url(https://ipsumimage.appspot.com/1570x790,6E5034?s=0);
	}

	.swiper-pagination-bullet{
		width: 23px;
		height: 23px;
		border: 1px solid transparent;
		border-radius: 50%;
		margin-right: 9px;
		position: relative;

		&:before{
			content: '';
			width: 5px;
			height: 5px;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			background-color: var(--durotan-background-color-light);
		}
	}

	.swiper-pagination-bullet-active{
		border-color: var(--durotan-color-light);
	}

	.swiper-pagination{
		position: absolute;
		bottom: 70px;
		z-index: 1;
		left: 0;
		right: 0;
		display: flex;
		justify-content: flex-end;
	}
}

.durotan-latest-posts-carousel{
	padding-bottom: 50px;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 70px;

	.latest-post__thumbnail{
		display: block;
		font-size: 0;
		margin-bottom: 40px;
	}

	.latest-post__time{
		float: left;
		max-width: 85px;
		line-height: 1;
		padding-right: 52px;

		.day-number{
			display: block;
			font-family: var( --durotan-heading-font );
			font-size: 60px;
			color: var(--durotan-color-darker);
			padding-bottom: 11px;
		}

		.date-number{
			font-size: 14px;
			line-height: 1.5;
		}
	}

	.latest-post__title{
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		line-height: (36/24);
		margin-bottom: 13px;
		padding-right: 20px;
	}

	.latest-post__meta{
		font-size: 14px;

		.meta-divider{
			padding: 0 7px;
		}

		.meta-cat a{
			color: var(--durotan-color-primary);
			text-transform: uppercase;
		}

		.meta-author{
			color: var(--durotan-color-lighter);
		}
	}

	.latest-post{
		&:hover{
			.latest-post__title{
				text-decoration-line: underline;
			}
		}
	}
}

.durotan-latest-posts-carousel__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 49px;

	h3{
		margin: 0;
	}

	.durotan-posts-button{
		font-size: 24px;
		cursor: pointer;

		&.swiper-button-disabled{
			cursor: not-allowed;
		}

		&:focus {
			outline: none;
		}

		&:hover{
			color: var(--durotan-color-darker);
		}
	}

	.durotan-posts-button-prev{
		padding-right: 24px;
	}
}
.durotan-posts-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 55px;
}

.durotan-posts-header__taxs-list{
	list-style: none;
	padding-left: 0;
	padding-right: 30px;
	margin: 0;
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	flex-wrap: nowrap;
	white-space: nowrap;

	li{
		display: inline-block;

		a{
			display: block;
			padding-right: 32px;
			font-size: 14px;
			text-transform: uppercase;

			&.selected{
				color: var(--durotan-color-primary);
			}
		}
	}
}

.durotan-posts-header__search{
	position: relative;
	max-width: 270px;
	width: 270px;

	.search-submit {
		color: #161619;
		position: absolute;
		left: 0;
		top: 0;
		padding: 0;
		background: transparent;
		line-height: 45px;

		.svg-icon {
			font-size: 20px;
		}
	}

	.search-field{
		padding-left: 30px;
		width: 100%;
	}
}

.durotan-blog-grid{
	.durotan-posts-list.row{
		margin: 0 -30px;
	}

	.blog-wrapper{
		padding: 0 30px;
		margin-bottom: 60px;
	}
}

.durotan-posts-newsletter{
	margin-bottom: 108px;
	padding-bottom: 85px;

	> .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	h3 {
		margin: 0;
	}

	hr {
		flex: 1;
    	margin-bottom: -195px;
		background-color:  var(--durotan-border-input-color);
	}
}

.durotan-posts-newsletter__search{
	position: relative;
	border-bottom: 1px solid var(--durotan-border-input-color);
	max-width: 770px;
	width: 770px;

	.svg-icon {
		font-size: 24px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		color: #000;
	}

	.search-field{
		padding-left: 44px;
		border-bottom-width:0;
		width: 85%;
	}

	.search-submit{
		float: right;
		text-align: right;
		width: 15%;
		line-height: 45px;
		background-color: transparent;
		color: var(--durotan-color-darker);
		padding: 0;
	}
}

.blog-classic {
	.hentry {
		margin-bottom: 55px;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;

		&:nth-child(6n+2) {
			padding-right: 35px;
		}

		&:nth-child(6n+3) {
			padding-left: 35px;
		}
	}

	.post--large,
	.post--small {
		display: block;

		.post__thumbnail {
			width: inherit;
			margin-bottom: 30px;
			margin-right: 0;
		}

		.post__summary {
			min-height: auto;
			border-bottom: 0;
			padding-bottom: 0;
		}
	}

	.post--small {
		margin-bottom: 65px;
	}

	.post__thumbnail {
		width: 350px;
		margin-bottom: 0;
		margin-right: 50px;
	}

	.post__summary {
		width: 100%;
		border-bottom: 1px solid #e9e9e9;
		padding-bottom: 18px;
		flex: 1;
		min-height: 205px;
	}

	.post__footer {
		margin-top: 40px;

		.post__meta {
			&,
			a {
				color: #666;
			}
		}
	}

	.post__divider {
		width: 100%;
		background-color: #e9e9e9;
		margin: 0 0 75px;
	}
}