.header-account {
	display: flex;
	align-items: center;
	color: #000;

	.svg-icon {
		font-size: 25px;
	}
}

.header-account__links {
	display: flex;
	align-items: center;
	margin-left: 38px;

	a {
		font-size: 14px;
		color: #999999;
		line-height: 1;
		text-transform: uppercase;
		padding-right: 17px;
		margin-right: 17px;
		border-right: 1px solid #999999;

		&:hover {
			color: #000;
		}

		&:last-child {
			padding-right: 0;
			margin-right: 0;
			border-right: 0;
		}
	}
}

.header__mobile {
	.header-account {
		.svg-icon {
			font-size: 20px;
		}
	}
}

.header-v10 {
	.header__main {
		.header-account {
			.svg-icon {
				font-size: 30px;
			}
		}
	}
}