.header-cart {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;

	> a {
		display: flex;
		align-items: center;
	}

	&:hover {
		.header-cart__mini-cart {
			opacity: 1;
			transform: translate(0, 0);
			pointer-events: initial;
		}
	}
}

.header-cart__icon {
	display: block;
	position: relative;
	padding-right: 10px;
}

.header-cart__counter {
	font-size: 12px;
	color: var( --durotan-color-light );
	height: 20px;
	line-height: 20px;
	background-color: var( --durotan-background-color-primary );
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 7px;
}

.header-cart__total-price {
	font-size: 16px;
	padding-left: 7px;
}

.header-cart--text-only {
	span.header-cart__counter {
		padding: 0 0 0 5px;
		position: static;
		background-color: transparent;
		height: auto;
		font-size: inherit;
	}
}

.text-light {
	.header-cart__counter {
		color: var( --durotan-color-light );
		background-color: var( --durotan-background-color-darker );
	}
}

.header__mobile {
	.header-cart {
		.svg-icon {
			font-size: 20px;
		}
	}

	.header-cart__counter {
		font-size: 10px;
		height: 17px;
		line-height: 17px;
		padding: 0 6px;
		right: 3px;
	}
}

.header-v10 {
	.header__main {
		.header-cart {
			.svg-icon {
				font-size: 30px;
			}
		}

		.header-cart__total-price  {
			font-size: 18px;
			padding-left: 20px;
		}
	}
}

// Mini Cart
.header-cart__mini-cart {
	position: absolute;
	top: calc( 100% + 1px );
	right: 0;
	width: 395px;
	transform: translate(0, 20px);
	pointer-events: none;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
	opacity: 0;
	transition: 0.4s;
	z-index: 9;

	&:before {
		content: '';
		width: 100%;
		height: 1px;
		position: absolute;
		top: -1px;
		left: 0;
	}

	.widget_shopping_cart_content {
		background-color: var( --durotan-background-color-light );
		padding: 40px 30px;
		text-align: left;

		a {
			color: var( --durotan-color-darker );
		}

		.total,
		.buttons {
			margin: 0;
			padding-top: 20px;
		}

		.total {
			font-size: 18px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			border-top: 1px solid #d0d0d0;
			padding-top: 25px;
			margin-top: 18px;

			strong {
				color: #666666;
				font-weight: 400;
			}

			.price {
				color: var( --durotan-color-darker );
				font-size: 20px;
			}
		}

		.buttons {
			text-align: center;

			a {
				display: block;
				font-size: 14px;
				text-transform: uppercase;
				color: var( --durotan-color-darker );
				line-height: 48px;
				border: 1px solid #999;
				margin-top: 10px;
				transition: 0.4s;

				&:hover,
				&.checkout {
					color: #fff;
					background-color: var( --durotan-background-color-primary );
					border-color: var( --durotan-color-primary );
				}
			}
		}
	}

	ul.cart_list {
		margin: 0;
		padding: 0;
		list-style: none;
		max-height: 305px;
		overflow-y: scroll;

		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		li {
			display: flex;
			margin-bottom: 17px;
		}

		img {
			float: left;
			margin-right: 20px;
		}
	}

	.woocommerce-mini-cart-item__summary {
		flex-grow: 1;

		.variation {
			font-size: 14px;
			color: #999;
			margin-bottom: 3px;
		}

		.amount {
			font-size: 16px;
		}
	}

	.woocommerce-mini-cart-item__data {
		margin-left: 80px;
		display: flex;
		flex-direction: column;
	}

	.woocommerce-mini-cart-item__name {
		font-size: 16px;
	}

	.woocommerce-mini-cart-item__remove-button {
		flex: 0 0 50px;
		max-width: 50px;
		text-align: right;

		a {
			display: block;
			line-height: 1;
		}

		.svg-icon {
			font-size: 12px;
		}
	}
}