.header-hamburger__link {
	display: flex;
    line-height: 1;
    align-items: center;

	.svg-icon {
		font-size: 25px;
	}
}

.header-hamburger__text {
	padding-left: 20px;
	text-transform: uppercase;
}

.header__mobile {
	.header-hamburger__link {
		.svg-icon {
			font-size: 18px;
		}
	}
}

.header-v2 {
	.header__main {
		.header-hamburger {
			padding: 12px 0 12px 55px;
			border-left: 1px solid rgba( 255,255,255,0.07 );
			margin-left: 55px;
		}
	}
}

.header-v4 {
	.header__main {
		.header-hamburger {
			.svg-icon {
				font-size: 36px;
			}
		}

		.header-hamburger__text {
			font-size: 16px;
		}
	}
}

.header-v7 {
	.header__main {
		.header-hamburger {
			.svg-icon {
				font-size: 36px;
			}
		}

		.header-hamburger__text {
			font-size: 16px;
		}
	}

}

.header-v8 {
	.header__main {
		.header-hamburger {
			padding: 12px 0 12px 55px;
			border-left: 1px solid #ededed;
			margin-left: 55px;
		}
	}
}