.site-header {
	background-color: #fff;
	position: relative;
}

.header__container {
	height: 100%;
}

.header__wrapper {
	display: flex;
	align-items: center;
	height: 100%;
	position: relative;
}

.header__main {
	height: 157px;
}

.header__bottom {
	height: 80px;
}

.header__items {
	display: flex;
	align-items: center;
	height: 100%;
	flex: auto;
}

.header__items--center {
	align-items: center;
	justify-content: center;

	> * {
		margin-left: 15px;
		margin-right: 15px;
	}
}

.header__items--left {
	> * {
		margin-right: 136px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.header__items--right {
	text-align: right;
	justify-content: flex-end;

	> * {
		margin-left: 35px;

		&:first-child {
			margin-left: 0;
		}
	}
}

.header__main--has-center,
.header__bottom--has-center {
	.header__items {
		flex: 1;
	}

	.header__items--center {
		flex: none;
	}
}

.header__main--menu-center,
.header__bottom--menu-center {
	.header__items--center {
		flex: 3;
	}
}

.header__mobile {
	height: 60px;

	.header__items--left {
		> * {
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.header__items--right {
		> * {
			margin-left: 22px;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.header-transparent {
	position: absolute;
	width: 100%;
	z-index: 999;
	background-color: transparent;
}

.header-v1 {
	.header__wrapper {
		border-bottom: 1px solid #dedede;
	}
}

.header-v2 {
	&.header-transparent {
		.header__main {
			border-bottom: 1px solid rgba( 255,255,255,0.07 );
		}

		.header__mobile {
			border-bottom: 1px solid rgba( 255,255,255,0.07 );
		}
	}
}

.header-v3 {
	&.header-transparent {
		.header__main {
			border-bottom: 1px solid rgba( 255,255,255,0.35 );
		}

		.header__mobile {
			border-bottom: 1px solid rgba( 255,255,255,0.35 );
		}
	}

	.header__main {
		.header__items--right > * {
			margin-left: 50px;

			> a {
				font-size: 16px;
				text-transform: uppercase;
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.header-v6 {
	.header__main .header__wrapper {
		border-bottom: 1px solid #dbdbdb;
	}
}

.header-v9 {
	.header__main .header__wrapper {
		border-bottom: 1px solid #dbdbdb;
	}
}

// Header Vertical
.header-v10 {
	.header__main {
		position: fixed;
		background-color: #fff;
		left: 0;
		top: 0;
		height: 100%;
		width: 375px;
		padding: 70px 70px 0;
		z-index: 1000;
		border-right: 1px solid #e3e3e3;
	}

	.header__container {
		padding: 0;
	}

	.header__wrapper {
		position: static;
	}

	.header__items--left {
		flex-direction: column;
		align-items: flex-start;

		> * {
			width: 100%;
			height: auto;
			margin-right: 0;
			padding-bottom: 55px;

			&:last-child {
				margin-top: 110px;
			}
		}

		.main-navigation {
			position: static;

			ul {
				ul {
					top: 0;
					left: 100%;
					box-shadow: none;
					transform: translate(-20px, 0);
					height: 100%;
					padding: 150px 0 100px;

					&:before {
						content: '';
						width: 80px;
						height: 100%;
						top: 0;
						left: -80px;
						position: absolute;
					}

					ul {
						margin: 0;

						&:before {
							display: none;
						}
					}
				}
			}

			li {
				position: static;

				&:hover {
					> ul {
						opacity: 1;
						transform: translate(0, 0);
						pointer-events: initial;
					}
				}
			}

			ul.menu {
				height: auto;
				display: block;

				> li {
					height: auto;
					padding: 4px 0;

					> a {
						font-size: 24px;
						text-transform: capitalize;
					}
				}
			}

			// Mega Menu
			.mega-menu {
				padding: 100px 30px;
				display: flex;
				align-items: center;

				&:after {
					content: '';
					width: 80px;
					height: 100%;
					top: 0;
					left: -80px;
					position: absolute;
				}

				ul {
					padding: 0;
					transform: translate(0,0);
				}

				.menu-item-as-label {
					a {
						color: var(--durotan-color-lighter);
						font-size: 14px;
						text-transform: uppercase;
						margin-top: 72px;
						margin-bottom: 18px;
						display: block;
					}
				}
			}

			.mega-sub-menu {
				padding: 0 70px;
			}
		}

		.secondary-navigation {
			ul.menu {
				> li {
					padding: 4px 0;

					> a {
						color: #999999;
						font-size: 14px;
						text-transform: uppercase;
					}

					&.current-menu-item,
					&:hover {
						a {
							color: #000;
						}
					}
				}
			}
		}
	}

	.ps__rail-x,
	.ps__rail-y {
		display: none;
	}
}

// Smart dot
.header__smart-dot {
	width: 8px;
	height: 8px;
	background-color: var( --durotan-background-color-primary );
	border-radius: 50%;
	position: absolute;
	bottom: -3px;
	transition: .4s;
}

@import "logo";
@import "cart";
@import "language-currency";
@import "hamburger";
@import "search";
@import "wishlist";
@import "account";
@import "custom-html";