.header-currency,
.header-language {
	&,
	.durotan-language,
	.durotan-currency {
		height: 100%;
	}

	.durotan-language,
	.durotan-currency {
		display: flex;
		align-items: center;
	}
}

.text-light {
	.durotan-language--list-dropdown,
	.durotan-currency--list-dropdown {
		color: #fff;
	}
}