.header-search {
	.svg-icon {
		font-size: 23px;
	}
}

.header-search--form {
	position: relative;

	form {
		position: relative;
	}

	label {
		display: block;
	}

	.search-icon {
		font-size: 20px;
		line-height: 1;
		cursor: pointer;
		position: relative;
		z-index: 1;
		top: 4px;
	}

	.search-field {
		font-size: 16px;
		border-width: 0 0 1px 0;
		border-color: #dbdbdb;
		padding: 6px 0 6px 32px;
		width: 270px;
		position: absolute;
		left: 0;
		top: 0;
		transition: 0.4s;
		background: transparent;

		&:focus,
		&.focused {
			border-color: #000;
		}

		&::-webkit-input-placeholder {
			color: #999999;
		}

		&::-moz-placeholder {
			color: #999999;
		}

		&:-ms-input-placeholder {
			color: #999999;
		}

		&:-moz-placeholder {
			color: #999999;
		}
	}

	.quick-links {
		position: absolute;
		top: 100%;
		width: 100%;
		opacity: 0;
		padding: 25px 40px;
		background: #fff;
		z-index: 200;
		pointer-events: none;
		box-shadow: 2px 3px 18px 0 rgba(0, 0, 0, 0.12);
		transform: translate(0, 75px);
		transition: transform 0.5s, opacity 0.4s;
		width: 270px;

		&.open {
			opacity: 1;
			transform: translate(0, 55px);
			pointer-events: initial;
			transition-delay: 0.4s;
		}

		.label {
			font-size: 14px;
			color: #999;
			display: block;
			margin: 0 0 10px;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			padding: 5px 0;

			a {
				color: #000;
				font-size: 16px;
			}
		}
	}
}

.header-search--icon-right {
	.search-icon {
		position: absolute;
		right: 0;
	}

	.search-field {
		position: static;
		padding: 6px 32px 6px 0;
	}
}

.header__mobile {
	.header-search {
		.svg-icon {
			font-size: 18px;
		}
	}
}

.header-v5 {
	.header-search {
		.svg-icon {
			font-size: 20px;
		}
	}
}

.header-v10 {
	.header-search--form {
		.search-field {
			width: 100%;
		}
	}
}