.header-wishlist {
    position: relative;
	height: 100%;
	display: flex;
	align-items: center;

	> a {
		display: flex;
		align-items: center;
	}
}

.header-wishlist__icon {
	display: block;
	position: relative;
	padding-right: 10px;
}

.header-wishlist__counter {
	font-size: 12px;
	color: var( --durotan-color-light );
	height: 20px;
	background-color: var( --durotan-background-color-primary );
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 7px;
}

.text-light {
	.header-wishlist__counter {
		color: var( --durotan-color-light );
		background-color: var( --durotan-background-color-darker );
	}
}