button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include font-size(16/16);
	color: #fff;
	line-height: 54px;
	border: 0;
	border-radius: 0;
	padding: 0 30px;
	background-color: var(--durotan-background-color-primary);
	transition: 0.4s;
    cursor: pointer;
	font-family: $font__main;

	&:hover,
	&:focus{
		background-color: var(--durotan-background-color-darker);
	}

	&:focus{
		outline: 0;
	}
}