input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 0;
	border-bottom: 1px solid var(--durotan-border-input-color);
	border-radius: 0;
	transition: 0.4s;
    box-shadow: none;
	padding: 12px 0;
	font-size: 14px;
	font-family: $font__main;

	&:focus {
		outline: none;
		border-color: var(--durotan-border-input-focus-color);
	}
}

select {
	border: 0;
	border-bottom: 2px solid var(--durotan-border-input-focus-color);
}

textarea {
	width: 100%;
	height: 108px;
}
