.mc4wp-form {
	input[type="text"],
	input[type="email"],
	select,
	textarea {
		font-size: 18px;
		margin: 0 0 20px;
		padding: 0 30px;
		width: 100%;
		border: 1px solid #d0d0d0;
		background-color: #fff;

		&:focus {
			border-color: #000;
		}
	}

	input[type="text"],
	input[type="email"],
	select {
		height: 60px;
	}

	input[type="submit"],
	button {
		width: auto;
		font-size: 16px;
		text-transform: uppercase;
		margin: 0 0 20px;
	}
}